<div id="stake" class="section full-height middle-centered black wf-section">
    <div class="w-container">
      <div class="technology-text-column w-col w-col-9">
        <h1 class="h1-section col-white orange">Private Stake</h1>
        <p class="h1-subtitles ">Earn XCASH anonymously and with confidence that you'll <span class="underline-stake">never </span>lose a single coin.
        </p>
        <p class="reduced-width">
          <strong class="orange">Staking<br/></strong>The days of constantly checking that your computer is up staking are long gone. By voting with your proof of XCASH reserves, you're voting for a delegate node to act in the interest of the network, and in turn you receive stake rewards. <br><br><span class="underline-dashed"><span class="text-to-white">With your reserve proof doing all the work, turn off your computer and enjoy your worry-free day.</span></span> 
          <br/>
          <br/><strong class="orange">DBFT <br/></strong>LOREM IPSUM
          <br/>
          <br/><strong class="orange">Randomized Block Producer Selection</strong>
          <br/>With the presence of Verifiable random functions (VRF), you can rest assured that you have equal chance of receiving a stake with any other
          staking wallet. VRF force true random and unanticipatable delegate block producer selection, which also bolsters our network's security by removing
          the chance of attack on the next elected delegate node.
          <br/>
          <br/><strong class="orange">Stake Delegation with Reserve Proofs</strong>
          <br/>Instead of sending your stake to another wallet to vote toward a delegate, you are providing a cryptographic reserve proof of your funds to your delegate,
          meaning that you keep complete control of your stake at all times.
        </p>
        <div class="horizontal-button-container">
          <a target="_blank" href="https://delegates.xcash.foundation" class="button-black inverse button-1 w-button">Delegates Explorer</a>
          <a target="_blank" href="https://calculator.xcash.foundation" class="button-black inverse button-1 w-button">ROI Calculator</a>
          <a target="_blank" href="https://docs.xcash.foundation/dpops/vote-and-staking" class="button-black inverse button-1 w-button">Read more on X-Staking</a>
        </div>
      </div>
      <div class="round-animation-column w-col w-col-2">
        <!-- <div data-w-id="a28de8f5-7e76-4a44-83a7-7925122f1590" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/5f5f5f0330588e2883713b14/5f5f83ff8374da5a9478c1e3_data.json" data-loop="1" data-direction="1" data-autoplay="1"
        data-is-ix2-target="0" data-renderer="svg" data-default-duration="3.15" data-duration="0" class="round-animation"></div> -->
        <ngx-lottie-view path="./../../../assets/documents/vote_dark.json" class="card-dark-style" data-default-duration="3.15" data-duration="0">
        </ngx-lottie-view>
      </div>

    </div>
</div>
