<div id="stake" class="section full-height middle-centered black wf-section">
    <div class="w-container stake-scale-and-positioning-for-small-screens ">
      <div class="technology-text-column w-col w-col-9">
        <h1 class="h1-section col-white orange">Private Stake</h1>
        <p class="h1-subtitles stake-subt">Earn XCASH anonymously and never risk a coin.
        </p>
        <p class="reduced-width">
          <strong class="orange">Staking<br/></strong>The days of constantly checking that your computer is up staking are long gone. By voting with your proof of XCASH reserves, you're voting for a delegate node to act in the interest of the network, and in turn you receive stake rewards. <br><br><span class="bothline-stake"><span class="text-to-white">With your reserve proof doing all the work, power off your device and enjoy your worry-free day.</span></span> 
          <br/><!--Delete this comment-->
          <br/><strong class="orange">Randomized Block Producer Selection</strong>
          <br/>With the presence of Verifiable random functions (VRF), rest assured that you have equal chance of receiving a stake with any other
          staking wallet.<br><br> VRFs force true random and unanticipatable delegate block producer selection, which also bolsters our network's security by removing
          the chance of attack on the next elected delegate node.
          <br/>
          <br/><strong class="orange">Stake Delegation with Reserve Proofs</strong>
          <br/>Instead of sending your stake to another wallet to vote toward a delegate, you are providing a cryptographic reserve proof of your funds to your delegate,
          meaning that you keep complete control of your stake at all times.
        </p>
       
        <div class="horizontal-button-container buttons-stake">
          <a target="_blank" href="https://docs.xcash.foundation/dpops/vote-and-staking" class="button-black inverse button-1 w-button">Read more on X-Staking</a>
          <a target="_blank" href="https://delegates.xcash.foundation" class="button-black inverse button-1 w-button stake-button-mid">Delegates Explorer</a>
          <a target="_blank" href="https://calculator.xcash.foundation" class="button-black inverse button-1 w-button stake-button-low">ROI Calculator</a>
        </div>
       
      </div>
      <div class="round-animation-column w-col w-col-2">
        <ngx-lottie-view path="./../../../assets/documents/vote_dark.json" class="card-dark-style stake-lottie-move" data-default-duration="3.15" data-duration="0">
        </ngx-lottie-view>
      </div>
    </div>
  </div>

