.scroll-to-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    opacity: 0;
    transition: all .2s ease-in-out;
    border: 1px solid #f1f1f1;
   }
 .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;

   }
.scroll-to-top button {
   background-color: transparent;
   padding: 10px;

  }
