.scroll-to-top {
    position: fixed;
    right: 5%;
    bottom: 5%;
    opacity: 0;
    transition: all .2s ease-in-out;
   }
 .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
    padding: 16px;
   }
.scroll-to-top button {
   background-color: transparent;
  }
