<div id="xpayment" class="section full-height middle-centered black wf-section">
    <!--ngx-lottie-view path="./../../../assets/documents/data---Copy_dark_nogrid.json" class="background-animation" data-default-duration="1.1833333333333333" data-duration="5">
    </ngx-lottie-view-->
    <div class="container-wxcash w-container">
      <img class="wallet-style" src="/assets/images/walletv8.svg">
      <h1 class="h1-section orange">X-Payment</h1>
      <h2 class="reduced-width"><strong>Use XCASH directly on your Socials</strong></h2>
      <p class="h1-subtitles reduced-width"><span class="bg-dark"><strong> X-Payment is a social media integrated solution that enables users to freely execute off-chain p2p transactions instantly.</strong></span><br></p>
      <div class="h1-subtitles reduced-width">
        <ul role="list" class="list-5">
          <li class="consensus-item"><span class="bg-dark">With <strong class="orange">X-Payment</strong>, we aim to increase adoption of XCASH and cryptocurrencies by providing solutions which are targeted for retail users. Those solutions will cater to various types of communities to implement our service for their desired activities. We are thinking of gaming communities, sports betting, etc. and any other communities that could need p2p exchange of value features.</span>
          </li>
          <li class="consensus-item"><span class="bg-dark"><strong class="orange">Instantaneous Secured Payments<br></strong>Built upon proven secured infrastructure, funds are secured and mainly stored in cold wallets. Payments are off-chain and instantaneous with hybrid privacy features, you don't need to wait hours to receive and spend your funds.</span>
          </li>
          <li class="consensus-item"><span class="bg-dark"><strong class="orange">No Licensing Fee<br></strong>Because we are convinced X-Payment can bring innovation, we decided to make it free to use for community owners. To generate revenues and help finance their community, owners can still collect (optional) fees off every transaction.</span>
          </li>
          <li class="consensus-item"><span class="bg-dark"><strong class="orange">Merchant Service<br></strong>Merchant system built on X-Payment allows Discord Users to monetize perks/roles on their communities and built economy system however they see fit.</span>
          </li>
          <li class="consensus-item"><span class="bg-dark"><strong class="orange">Platforms<br></strong>Discord & more to be announced</span>
          </li>
        </ul>
      </div>
      <div class="horizontal-button-container">
        <a target="_blank" href="https://discord.gg/4CAahnd" class="button-black inverse button-1 w-button ">Give a try at Discord</a>
        <a target="_blank" href="https://docs.xcash.foundation/applications/xpayment" class="button-black inverse button-1 w-button">Read more on X-Payment</a>
      </div>
    </div>
  </div>
