<div id="xpayment" class="section full-height middle-centered black wf-section">
    <div class="container-wxcash w-container xpayment-scale-and-positioning-for-small-screens">

      <img class="wallet-style" src="/assets/images/xpayment.svg">

      <h1 class="h1-section xpay-title-move">X-Payment</h1>

      <h2 class="reduced-width orange xpay-subt"><span>Social XCASH Instant & P2P</span></h2>

      <div class="h1-subtitles reduced-width margin-top">
        <ul role="list" class="list-5">
          <li class="consensus-item">
            <span class="bg-dark"><span class="orange">Mission<br></span><span class="unbolden-text"> X-Payment makes mainstream adoption unavoidable through granting ALL Social Media accounts a permissionless crypto wallet.
              </span></span>
          </li>
          <li class="consensus-item">
            <span class="bg-dark"><span class="orange">Who<br></span><span class="unbolden-text">Gaming communities, Sports betting, Collaborative Chat, Online Dating, MOOC, and even Mongolian Basket Weaving Forums will benefit from our instant private P2P exchange of value features.</span></span>
          </li>
          <li class="consensus-item">
            <span class="bg-dark"><span class="orange">Merchant Service<br></span><span class="unbolden-text">An X-Payment XCASH wallet has an advanced toolset specific to Social Media to bring monetization opportunities. Our Merchant system allows users to monetize status in their communities and build microeconomies how they desire.</span></span>
          </li>
          <li class="consensus-item">
            <span class="bg-dark"><span class="orange">Instantaneous Secure Payments<br></span><span class="unbolden-text"> Built upon proven secured infrastructure, funds are secured and mainly stored in cold wallets.
              Payments are off-chain and instantaneous with hybrid privacy features.</span></span>
          </li>
        
          <li class="consensus-item">
            <span class="bg-dark"><span class="orange">No Licensing Fee<br></span><span class="unbolden-text"> X-Payment's merchant tools are free to use for community owners. To generate revenues and help finance their community, owners can opt to collect fees from every transaction within their private system.</span></span>
          </li>
          <li class="consensus-item">
            <span class="bg-dark"><span class="orange">Current Platforms<br></span><span class="unbolden-text">Discord, Twitter and more to be announced</span></span>
          </li>
        </ul>
      </div>
      <div class="horizontal-button-container pos-button-column">
        <a target="_blank" href="https://twitter.com/XPaymentBot" class="button-black inverse button-1 w-button">Use on Twitter</a>
        <a target="_blank" href="https://discord.gg/4CAahnd" class="button-black inverse button-1 w-button">Use in Discord</a>
        <a target="_blank" href="https://docs.xcash.foundation/applications/xpayment" class="button-black inverse button-1 w-button last-button">Read more</a>
      </div>
