<div id="xbank" class="section full-height middle-centered black wf-section ">
  <div class=" w-container xbank-scale-and-positioning-for-small-screens">

    <img class="xbanklogo" src="\assets\images\xbank.svg" alt="X-Bank">
    
    <h1 class="xbank-title-move">X-Bank</h1>

    <p class="h1-subtitles xbank-subt reduced-width orange">The X-Bank is a secured off-chain online service to store<br/> and access swap services for the X-Cash blockchain.<br></p>

    <div class="h1-subtitles reduced-width">
      <ul role="list" class="list-5">
        <li class="consensus-item">
          <span class="bg-dark">
            <span class="orange">X-Bank - Free Bridge, Forever<br>
                <span class="white">We have built the bridge from the X-Cash Mainnet to the Polygon Network in
                  <a href="https://x-bank.io" class="link-orange">X-Bank</a>: the free & secure XCASH storage solution. You can easily swap your Mainnet XCASH to Polygon XCASH, instantaneously and for free.
                </span><br>
            </span>
          </span>
        </li>
        <li class="consensus-item">
          <span class="bg-dark">
            <strong class="orange" >Highly Secured<br></strong>With a combinaison of multi-signatures wallets, automatic cold wallet storage and a private dedicated network, the security of your funds is our priority.
          </span>
        </li>
        <li class="consensus-item">
            <span class="bg-dark">
            <strong class="orange">Store and Use as needed<br></strong>You can safely store your XCASH in X-Bank's secured storage solution. Transfers within the X-Bank are free, and we only charging standard blockchain fees for withdrawal.
          </span>
        </li>
        <li class="consensus-item">
          <span class="bg-dark">
            <strong class="orange">Swap to WXCASH<br></strong>Create an account on the X-Bank to safely store your XCASH, and proceed with the integrated free swap feature to change your XCASH to WXCASH.
          </span>
        </li>
      </ul>
    </div>
    <div class="horizontal-button-container pos-button-xbank">
      <a target="_blank" href="https://x-bank.io" class="button-black inverse button-1 w-button">Visit X-Bank</a>
      <a target="_blank" href="https://x-bank.io/signup" class="button-black inverse button-1 w-button">Create an account and swap</a>
      <a href="https://apps.apple.com/us/app/x-bank/id1480299373" class="button-black inverse button-1 w-button">
        Download iOS app
      </a>
    </div>
  </div>
</div>
