<div id="xbank" class="section half-height middle-centered black wf-section">
    <!-- <ngx-lottie-view path="./../../../assets/documents/demo-left-right_dark_nogrid.json" class="background-animation wxcash-animation" data-default-duration="4.183333333333334" data-duration="0"> </ngx-lottie-view> -->
    <ngx-lottie-view path="./../../../assets/documents/data---Copy_dark_nogrid.json" class="background-animation lottie-width" data-default-duration="1.1833333333333333" data-duration="5">
    </ngx-lottie-view>
    <div class=" w-container pos-adjust">
      <h1 class="h1-section ">X-Bank</h1>
      <p class="h1-subtitles reduced-width">The X-Bank is a secured off-chain online service to store<br/> and access swap services for the X-Cash blockchain. <br></p>
      <div class="h1-subtitles reduced-width">
        <ul role="list" class="list-5">
          <li class="consensus-item">
            <span class="bg-dark">
            <strong class="orange">X-Bank - Free Bridge, Forever<br>‍</strong>We have built the bridge from the X-Cash Mainnet to the Polygon Network in the <a href="https://x-bank.io" class="link-orange">X-Bank</a>, the free &amp; easy X-Cash storage solution. You can easily swap your Mainnet XCASH to Polygon X-Bank, instantaneously and for free, within your free account.<strong><br></strong>
            </span>
          </li>
          <li class="consensus-item">
            <span class="bg-dark">
              <strong class="orange" >Highly Secured<br></strong>With a combinaison of multi-signatures wallets, automatic cold wallet storage and a private dedicated network, the security of your funds is our priority.
            </span>
          </li>
          <li class="consensus-item">
            <span class="bg-dark">
              <strong class="orange">Store and Use as needed<br></strong>You can safely store your XCASH in the X-Bank's secured storage solution. Transfers within the X-Bank are free, and we are only charging standard blockchain fees for withdraw.
            </span>
          </li>
          <li class="consensus-item">
            <span class="bg-dark">
              <strong class="orange">Swap to WXCASH<br></strong>Create an account on the X-Bank to safely store your XCASH, and proceed with the integrated free swap feature to change your XCASH to WXCASH.
            </span>
          </li>
        </ul>
      </div>
      <div class="horizontal-button-container">
        <a target="_blank" href="https://x-bank.io" class="button-black inverse button-1 w-button">Visit X-Bank</a>
        <a target="_blank" href="https://x-bank.io/signup" class="button-black inverse button-1 w-button">Create an account and swap</a>
        <a href="https://apps.apple.com/us/app/x-bank/id1480299373" class="button-black inverse button-1 w-button">
          Download iOS app
        </a>
      </div>
    </div>
  </div>
