
.section {
  border-bottom: 2px dotted #ff6d00;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  /* max-width: 940px; */
  max-width: 980px;
}

.white{
  color:#f1f1f1
}

.xbank-title-move{
  margin-left:2%;
}

.xbank-subt{
  margin-left:2%;
  margin-bottom: 2%
}

.xbanklogo{
  position:relative;
	left:2.2%;
	top:0%;
	margin:0%;
	float: right;
	width:250px;
  border: #fa741c solid 4px;
	border-radius: 100%;

}
.pos-button-xbank{
  margin-left:2%;
 
}
.reduced-width {
  width: 60%;
  margin-bottom:0%;
  margin-top:1.4%;
}
@media screen and (max-width: 479px) {
  .reduced-width {
  width: 80%;
  }
  .wxcash-style{
    	left: 0%;
  }
}

