.download-info{
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  -ms-hyphens: manual;
  -moz-hyphens: manual;
  -webkit-hyphens: manual;
  hyphens: manual;
}


.button-orange {
  background-color: #ffffff;
}

.button-orange:hover {
  background-color: #fa741c;
  color: #f1f1f1;
}

.background-animation.white {
    background-color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .button-container{
    width:30%;
   }
}
@media screen and (max-width: 667px) {
  .button-container{
    width:50%;
   }
}
@media screen and (max-width: 414px) {
  .button-container{
    width:80%;
   }
}

@media screen and (min-width: 496px) and (max-width: 991px) {
  .os-menu {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .button-orange.vertical-list.download-button {
      margin-right: 0px;
      width: 100%;
  }
  .macos{
    margin-left: 10px;
  }
  .linux{
    margin-left: 10px;
  }
}

.input-orange {
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #fa741c;
    background-color: #f1f1f1;
    color: #fa741c;
    font-weight: 400;
    text-align: left;

}

.copy-input {
    padding: 8px 15px;
    float: left;
    margin-right: 0px;
}

.copy-span {
    padding: 8px 15px;
    width: 60%;
    height: 40px;
    overflow: hidden;
    float: left;
    white-space: nowrap;
    margin-right: 0px;
    border-right: 0px;
}
.copy-cmd-box{

}
