<div id="exchanges" class="section full-height middle-centered black wf-section">
    <ngx-lottie-view path="./../../../assets/documents/actuality_dark_nogrid.json" class="actua-pos">
    </ngx-lottie-view>


      <div class="container-6 w-container">
          <h1 class="h1-jumbotron">Partners</h1>
          <h2 class="text-center">Exchanges</h2>
          <p class="h1-subtitles">X-Cash is currently listed on the following exchanges platform, where XCASH is traded against LTC, BTC, ETH, USDT and more.</p>
          <h3 class="exchange-class text-center">XCASH Mainnet</h3>
          <div class="exchange-list w-dyn-list">
              <div role="list" class="collection-list w-dyn-items w-row">
                  <div role="listitem" class="collection-item w-dyn-item w-col w-col-3">
                      <a href="https://www.citex.co.kr/#/home" class=" w-inline-block news-container-dark"><img loading="lazy" src="assets/images/partners/5f721654db51e21fd05d2807_citex_orange.svg" alt="CITEX" class="partner-logo" /></a>
                  </div>
                  <div role="listitem" class="collection-item w-dyn-item w-col w-col-3">
                      <a href="https://www.stex.com/" class=" w-inline-block news-container-dark"><img loading="lazy" src="assets/images/partners/5f72164dfa34506ed9ddb079_stex_orange.svg" alt="STEX" class="partner-logo" /></a>
                  </div>
                  <div role="listitem" class="collection-item w-dyn-item w-col w-col-3">
                      <a href="https://graviex.net/desktop" class="w-inline-block news-container-dark"><img loading="lazy" src="assets/images/partners/5f721646291d034eeaf137c8_graviex_orange.svg" alt="Graviex" class="partner-logo" /></a>
                  </div>

                  <div role="listitem" class="collection-item w-dyn-item w-col w-col-3">
                      <a href="https://www.hotbit.io/" class=" w-inline-block news-container-dark"><img loading="lazy" src="assets/images/partners/5f732268c11969174a460c8b_hotbit_orange.svg" alt="HotBit" class="partner-logo" /></a>
                  </div>
              </div>
          </div>
          <h3 class="heading text-center">WXCASH (Polygon)</h3>
          <div class="exchange-list w-dyn-list">
              <div role="list" class="collection-list w-dyn-items w-row">
                  <div role="listitem" class="collection-item w-dyn-item w-col w-col-4">
                      <a href="https://international.indoex.io/trade/XCASH_USDT" class="w-inline-block news-container-dark">
                        <img src="assets/images/partners/61a73ea343c37215772fb882_indoex_blured-logo_txt-only_orange.svg" loading="lazy" alt="IndoEx" class="partner-logo" />
                      </a>
                  </div>
                  <div role="listitem" class="collection-item w-dyn-item w-col w-col-4">
                      <a href="https://www.probit.com/app/exchange/XCASH-USDT" class="w-inline-block news-container-dark">
                        <img src="assets/images/partners/61a73e72fb267a71198b8edf_probit-logo-hori-orange.svg" loading="lazy" alt="Probit" class="partner-logo" />
                      </a>
                  </div>
                  <div role="listitem" class="collection-item w-dyn-item w-col w-col-4">
                      <a href="https://info.quickswap.exchange/pair/0x30167fea9499c11795bfd104667240bdac939d3a" class="w-inline-block news-container-dark">
                        <img src="assets/images/partners/61a73e20848a3ce42a212f69_quickswap-logo-orange.svg" loading="lazy" alt="Quickswap" class="partner-logo" />
                      </a>
                  </div>
              </div>
          </div>
          <p class="h1-subtitles disclaimer"><em>Each platform has their own conditions and policies. Please read their individual terms of use and XCASH withdrawal conditions before attempting to buy there.</em>
              <br/>
          </p>
          <h2 class="text-center">In the wild</h2>
          <div class="exchange-list w-dyn-list ">
              <div role="list" class="collection-list w-dyn-items w-row">
                  <div role="listitem" class="collection-item w-dyn-item w-col w-col-4">
                      <a href="https://www.coinmarketleague.com/coin/x-cash" class="w-inline-block news-container-dark">
                        <img src="assets/images/partners/61a8db6ae7c4b5196933eff3_CML-Slogan_in_orange.svg" loading="lazy" alt="CoinMarketLeague" class="partner-logo " />
                      </a>
                  </div>
                  <div role="listitem" class="collection-item w-dyn-item w-col w-col-4">
                      <a href="https://bitcourier.co.uk/news/x-cash-interview" class="w-inline-block news-container-dark">
                        <img src="assets/images/partners/61a743f12d110d1a3cb8e408_bitcourier_orange.svg" loading="lazy"  alt="Bitcourier" class="partner-logo" />
                      </a>
                  </div>
                  <div role="listitem" class="collection-item w-dyn-item w-col w-col-4">
                      <a href="https://crypto-enthusiast.com/" class="w-inline-block news-container-dark">
                        <img src="assets/images/partners/crypto-enthusiast_orange.svg" loading="lazy" style="max-height:65px; margin:auto;" alt="Crypto Enthusiast" class="partner-logo" />
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
