<div id="get-started" class="section half-height middle-centered black wf-section ">

    <ngx-lottie-view path="./../../../assets/documents/womanchart_dark_nogrid.json" class="background-animation smallest-animation" data-default-duration="4.183333333333334" data-duration="0" >
    </ngx-lottie-view>

    <div class="w-container">
      <h1 class="h1-section">Get Started</h1>
      <p class="h1-subtitles reduced-width">You are new to X-Cash? <br>Let us walk you through to get started on your journey.<br></p>
      <ul role="list" class="list-get-started">
        <li class="get-started-item">Download a wallet</li>
        <li class="get-started-item">Acquire XCASH on supported exchanges</li>
        <li class="get-started-item">Join and engage with the community</li>
        <li class="get-started-item">Contribute and earn rewards</li>
      </ul>
      <a href="get-started" class="button-black inverse button-1 w-button ">Get Started</a>
    </div>
  </div>
