

<div id="overview" class="section full-height middle-centered black wf-section">
  <!-- <ngx-lottie-view path="./../../../assets/documents/actuality_dark_nogrid.json" class="background-animation white wxcash-animation" style="z-index: 0;">
  </ngx-lottie-view> -->
  <ngx-lottie-view path="./../../../assets/documents/demo-left-right_dark_nogrid.json" class="background-animation" data-default-duration="4.183333333333334" data-duration="0"  style="z-index: 0;">
  </ngx-lottie-view>

  <div class="w-container">
    <div class="w-col w-col-12">
      <div class="spinner"></div>
      <h1 class="h1-section col-white"><strong>404</strong><br> Page Not Found</h1>

      <button class="button"(click)="toggle()">{{buttonName}}</button>
    </div>
    
    <div class="w-col w-col-12">
      
    </div>
      