

<div id="overview" class="section full-height middle-centered black wf-section">
  <!-- <ngx-lottie-view path="./../../../assets/documents/actuality_dark_nogrid.json" class="background-animation white wxcash-animation" style="z-index: 0;">
  </ngx-lottie-view> -->
  <ngx-lottie-view path="./../../../assets/documents/demo-left-right_dark_nogrid_noboy.json" class="background-animation" data-default-duration="4.183333333333334" data-duration="0">
  </ngx-lottie-view>

  <div class="pos-down">
    <div class="w-col w-col-12">
      <div class="spinner"></div>
      <h1 class="h1-section col-white pos-bottom"><strong>404</strong><br> Page Not Found</h1>

      <button *ngIf="buttonFlag" class="button"(click)="open(); scroll(target); buttonDisappear() "><strong >Discover X-Cash</strong></button>

    <img *ngIf="!buttonFlag" class="image-big" src="\..\assets\images\Discover.svg" alt="here!!">
    </div>
    <div #target class="w-col w-col-12">
