

<div id="overview" class="section full-height middle-centered black wf-section">
  <!-- <ngx-lottie-view path="./../../../assets/documents/actuality_dark_nogrid.json" class="background-animation white wxcash-animation" style="z-index: 0;">
  </ngx-lottie-view> -->
  <ngx-lottie-view path="./../../../assets/documents/demo-left-right_dark_nogrid.json" class="background-animation" data-default-duration="4.183333333333334" data-duration="0"  style="z-index: 0;">
  </ngx-lottie-view>

  <div class="w-container">
    <div class="w-col w-col-12">
      <h1 class="h1-section col-white">404 error, page not found</h1>
    </div>
    <div class="w-col w-col-12">
    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/project" class="landing-block w-inline-block button-orange inverse button-1 w-button inline-link">
          <h3>The Project</h3>
      </a>

      <a routerLink="/" fragment="key-technologies" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Key Technologies</h3>
      </a>

      <a routerLink="/" fragment="foundation"  class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3>The Foundation</h3>
      </a>
    </div>

    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="wxcash" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3 >Flex-Privacy</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="xbank" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3 >DPOPS</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="sidechains"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3 >Sidechains</h3>
      </a>
    </div>

    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a target="_blank" href="https://explorer.xcash.foundation" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3 >Explorer</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="green"  class="landing-block w-inline-block button-green inverse button-1 w-button">
          <h3>X-Green</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/wallets" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Wallets</h3>
      </a>
    </div>

    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a target="_blank" href="http://delegates.xcash.foundation" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3 >Delegates</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="stake"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Stake</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a target="_blank" href="http://calculator.xcash.foundation" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3 >Calculator </h3>
      </a>
    </div>

    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="xbank"  class="landing-block w-inline-block button-xbank inverse button-1 w-button">
          <h3 >X-Bank</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="wxcash"  class="landing-block w-inline-block button-wxcash inverse button-1 w-button">
          <h3 >WXCASH</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="xpayment"  class="landing-block w-inline-block button-xpay inverse button-1 w-button">
          <h3 >X-Payment</h3>
      </a>
    </div>

        <!-- block of 3 -->
    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a href="https://docs.xcash.foundation/"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Documentation </h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a href="https://github.com/X-CASH-official"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Github </h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a  routerLink="/contribute"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Contribute</h3>
      </a>
    </div>

    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/people"  class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3>People</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="exchanges"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Exchanges</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="exchanges"  class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3>Partners</h3>
      </a>
    </div>

    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a href="https://twitter.com/XCashCrypto"  class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3>What's up</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a href="https://xcash.rocks/tools+mirrors"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Ressources</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a href="https://medium.com/x-cash"  class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3>Blog</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a href="https://www.xcashmerch.com/"  class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3>Swag Store</h3>
      </a>
    </div>

    <!-- block of 2 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-12">
      <a routerLink="/people" fragment="communities" class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3 >Communities</h3>
      </a>
    </div>


    <div role="listitem" class="repository-container w-dyn-item w-col w-col-12">
      <a href="https://discord.gg/4CAahnd"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3 >Talk with us on Discord </h3>
      </a>
    </div>

  </div>
</div>
