.landing-block {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-around;
    border-style: solid;
    border-width: 1px;
    transition: all 200ms ease;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.landing-block.orange {
	border-color: #ff6d00;
}
.landing-block h3 {
  margin: 0;
}
.button-1 {
  margin-right: 32px;
  margin-top: 16px;
  text-align: center;
}
.button-dark {
	border-color: #ff6d00;
}
.button-dark:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #1f1f1f;
  color: #1f1f1f;
  background-color: rgb(231, 255, 17);
}
.button-discover {
	border-width: 0px;
	border-color: #1f1f1f;
	background-color: transparent;
}
.button-discover:hover {
  border-style: solid;
  border-width: 0px;
  border-color: #ff6d00;
  color: #1f1f1f;
  /* background-color: #1f1f1f; */
	background-color: transparent;
}
.button-green {
  background-color: #7CB518;
	border-color: #7CB518;
}
.button-green:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #7CB518;
  color: #7CB518;
  background-color: #fff;
}
.button-xbank {
  background-color: #F7BF23;
  border-color: #F7BF23;
}
.button-xbank:hover {
  background-color: #fff;
  border-color: #F7BF23;
  color: #F7BF23;
}
.button-xpay {
  background-color: #56B786;
  border-color: #56B786;
}
.button-xpay:hover {
  background-color: #fff;
  border-color: #56B786;
  color: #56B786;
}
.button-teal {
  background-color: #1189A5;
  border-color: #1189A5;
}
.button-teal:hover {
  background-color: #fff;
  border-color: #1189A5;
  color: #1189A5;
}
.button-wxcash {
  background-color: #8C52FF;
  border-color: #8C52FF;
}
.button-wxcash:hover {
  background-color: #fff;
  border-color: #8C52FF;
  color: #8C52FF;
}

.spinner{
  width: 100px;
  height: 100px;
  border: 16px solid blue;
  border-top: 16px solid white;
  border-radius: 50%;
  animation: load 1s linear infinite;

}

@keyframes load {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}