<div class="section half-height middle-centered wf-section">
  <!-- <div data-w-id="81829ae8-bfc2-6227-d794-b8e770497f95" data-animation-type="lottie" data-src="documents/compositionrocket.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="7.766666666666667" data-duration="0" class="background-animation white get-started"></div> -->
  <ngx-lottie-view path="./../../../assets/documents/compositionrocket.json" data-default-duration="4.4" data-duration="0" class="background-animation white get-started">
  </ngx-lottie-view>
  <div class="container-7 w-container">
    <h1>Media/Press Kit/Resources</h1>
    <p>You are new to X-Cash, or even new to blockchain and cryptocurrency in general?<br>Let us walk you through your journey to safely start using X-Cash.<br>‍</p>
    <ul role="list" class="list">
      <li class="get-started-item">
        <a href="#about" class="link-2">About Us</a>
      </li>
      <li class="get-started-item">
        <a  routerLink="/mediakit" fragment="statistics" class="link-2">Statistics</a>
      </li>
      <li class="get-started-item">
        <a  routerLink="/mediakit" fragment="press" class="link-2">Press Coverage</a>
      </li>
      <li class="get-started-item">
        <a  routerLink="/mediakit" fragment="partnerships" class="link-2">Partnerships</a>
      </li>
      <li class="get-started-item">
        <a  routerLink="/mediakit" fragment="faq" class="link-2">Frequently Asked Questions</a>
      </li>
      <li class="get-started-item">
        <a  routerLink="/mediakit" fragment="assets" class="link-2">Visual Assets</a>
      </li>
    </ul>
  </div>
</div>


<div id="about" class="section small-section wf-section">
  <ngx-lottie-view path="./../../../assets/documents/download.json" data-default-duration="4.4" data-duration="0" class="background-animation white smallest-animation">  </ngx-lottie-view>
  <div class="w-container">
    <h1 class="h1-jumbotron">About Us</h1>
    <p class="h1-subtitles">X-Cash was founded in 1018 by King Henry the 7th. ....</p>
  </div>
</div>


<div id="statistics" class="section small-section wf-section">
  <ngx-lottie-view path="./../../../assets/documents/community.json" data-default-duration="4.4" data-duration="0" class="background-animation white smallest-animation">  </ngx-lottie-view>
  <div class="w-container">
    <h1 class="h1-jumbotron">Statistics</h1>
    <p class="h1-subtitles">The X-Cash Project gathers a worldwide community with skilled and engaged people. Join us, discuss with everyone and be a part of the community.</p>
    <div class="w-row">
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Algorithm</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">{{blockchain_algorithm}}</div>
          </div>
        </div>
      </div>
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Block Height</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">{{block_height | number}}</div>
          </div>
        </div>
      </div>
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Block Time</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">5 Minutes</div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-row mt-20">
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Current Block Reward</h4>
          <div class="metrics-data-container">
            <div id="dataprice" class="metrics-currency-xcash">{{ block_reward | number }}</div>
          </div>
        </div>
      </div>
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Maximum Supply</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">100,000,000,000</div>
          </div>
        </div>
      </div>
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Generated Supply</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">{{generated_supply | number}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-row mt-20">
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Circulating Supply</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">{{circulating_supply | number}}</div>
          </div>
        </div>
      </div>
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Total Private Transactions</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">{{private_tx_count | number}}</div>
          </div>
        </div>
      </div>
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Total Public Transactions</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">{{public_tx_count | number}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="press" class="section small-section wf-section">
  <ngx-lottie-view path="./../../../assets/documents/atm.json" data-default-duration="4.4" data-duration="0" class="background-animation white smallest-animation atm-animation">  </ngx-lottie-view>
  <div class="container-6 w-container">
    <h1 class="h1-jumbotron">Press Coverage</h1>
    <p class="h1-subtitles">The easiest way to get X-Cash at the moment is to buy on a reputable exchange platform. <br></p>
    <p class="h1-subtitles"><em>Each platform have their own conditions and policies. Please read their individual terms of use and XCASH withdrawing conditions before attempting to buy there.</em><br></p>
  </div>
</div>



<div id="partnerships" class="section small-section wf-section">
  <ngx-lottie-view path="./../../../assets/documents/atm.json" data-default-duration="4.4" data-duration="0" class="background-animation white smallest-animation atm-animation">  </ngx-lottie-view>
  <div class="container-6 w-container">
    <h1 class="h1-jumbotron">Partnerships</h1>
    <p class="h1-subtitles">The community is building new products and new ways to use XCASH.<br></p>
    <p><strong>X-Payment<br></strong>A payment solution that can be instantaneously integrated on any Discord server. Send some XCASH over there, participate in the discussions and easily send funds to anyone on the same server.<br></p>
    <p><strong>Vote and earn XCASH<br></strong>The X-Cash Network is governed by delegates elected by the community. You can use your XCASH to vote for a delegate, and be retributed for your stake.<br></p>
  </div>
</div>


<div id="faq" class="section small-section wf-section">
  <ngx-lottie-view path="./../../../assets/documents/atm.json" data-default-duration="4.4" data-duration="0" class="background-animation white smallest-animation atm-animation">  </ngx-lottie-view>
  <div class="container-6 w-container">
    <h1 class="h1-jumbotron">Frequently Asked Questions</h1>
    <p class="h1-subtitles">The community is building new products and new ways to use XCASH.<br></p>
    <p><strong>X-Payment<br></strong>A payment solution that can be instantaneously integrated on any Discord server. Send some XCASH over there, participate in the discussions and easily send funds to anyone on the same server.<br></p>
    <p><strong>Vote and earn XCASH<br></strong>The X-Cash Network is governed by delegates elected by the community. You can use your XCASH to vote for a delegate, and be retributed for your stake.<br></p>
  </div>
</div>


<div id="assets" class="section full-height  wf-section">
  <ngx-lottie-view path="./../../../assets/documents/atm.json" data-default-duration="4.4" data-duration="0" class="background-animation white smallest-animation atm-animation">  </ngx-lottie-view>
  <div class="container-6 w-container">
    <h1 class="h1-jumbotron">Visual assets</h1>
    <p class="h1-subtitles">X-Cash Logos:<br></p>
    <p style="border: 1px solid grey; "><img src="./../../../assets/images/xcash_dark.svg" alt="X-Cash Logo Dark"></p>
    <p style="border: 1px solid grey; background: #1f1f1f;"><img src="./../../../assets/images/xcash_light.svg" alt="X-Cash Logo Light"></p>
    <p style="border: 1px solid grey; background: #1f1f1f;"><img src="./../../../assets/images/xcash_white.svg" alt="X-Cash Logo White"></p>
    <p></p>

    <p><strong><br></strong></p>
  </div>
</div>
