<div class="section half-height middle-centered wf-section">
  <!-- <div data-w-id="aa072b4d-248a-9b70-489e-90022ed53c06" data-animation-type="lottie" data-src="documents/dev.json" data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="3.4833333333333334" data-duration="0" class="background-animation white developers"></div> -->
  <ngx-lottie-view path="./../../../assets/documents/dev.json"  data-default-duration="3.4833333333333334" data-duration="0" class="background-animation white smaller-animation">
  </ngx-lottie-view>
  <div class="w-container">
    <h1 class="h1-jumbotron">Contribute to the X-Cash Project</h1>
    <p>The X-Cash Foundation is managing the development of the X-Cash Project, providing funding for community-driven projects and bounties for necessary developments.<br>‍<br>Join us and be part of this adventure with us.</p>
    <h3>What we believe in:</h3>
    <ul role="list" class="list-3">
      <li>We are an <strong>open-source</strong> and <strong>self-funded</strong> project that aims at <strong>building technology first</strong>.</li>
      <li>We respect opinions, ideologies and <strong>engage in constructive discussions</strong>.</li>
      <li>As contributors, <strong>we are the first ambassadors of the project</strong> and its values. Having outstanding written skills is essential to have a clear communication with people from within the community and out.</li>
    </ul>
  </div>
</div>
<div id="builders-project" class="section section-white wf-section">
  <div class="w-container">
    <h1 class="h1-section">Builder's Project</h1>
    <p class="h1-subtitles">The Builder's Project is a special bounty program run by the X-Cash Foundation, where contributors and developers can undertake special tasks and development projects to improve the X-Cash Project and earn subsequent rewards.<br><br>Builder's Project are listed here, and on our <a href="https://github.com/X-CASH-official/builders-program">official GitHub repository</a>.</p><div class="roadmap-container w-row">
      <div class="roadmap-category-container w-col w-col-3">
        <h2 class="roadmap-in-progress">Open Projects</h2>
      </div>
      <div class="roadmap-item-container w-col w-col-9">
        <div class="roadmap-items w-dyn-list">
        <div class="empty-state-2 w-dyn-empty">
          <div class="h3-builders-item">No project to display at the moment.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="roadmap-container w-row">
    <div class="roadmap-category-container w-col w-col-3">
      <h2 class="roadmap-ongoing">Ongoing</h2>
    </div>
    <div class="roadmap-item-container w-col w-col-9">
      <div class="roadmap-items w-dyn-list">
        <div class="empty-state w-dyn-empty">
          <div class="h3-builders-item">No project to display at the moment.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="roadmap-container w-row">
    <div class="roadmap-category-container w-col w-col-3">
      <h2 class="roadmap-done">Done</h2>
    </div>
    <div class="roadmap-item-container w-col w-col-9">
      <div class="roadmap-items w-dyn-list">
        <div role="list" class="roadmap-list w-dyn-items">
          <div role="listitem" class="collection-item-done w-dyn-item">
            <div data-w-id="ffc06932-6b3d-9cd2-6323-5154e3823c6f" class="column-done accordion-container w-row">
              <div class="roadmap-column roadmap-item-title w-col w-col-5">
                <h3 class="h3-builders-reference">BP-01</h3>
                <h3 class="h3-builders-item">Android Wallet</h3>
              </div>
              <div class="roadmap-button w-col w-col-5">
                <a href="https://github.com/X-CASH-official/android-wallet" class="button-roadmap button-done w-button">See Repository</a>
              </div>
              <div class="roadmap-trigger w-col w-col-2">
                <div data-w-id="ffc06932-6b3d-9cd2-6323-5154e3823c76" class="arrow-trigger w-embed">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                    <style type="text/css">
                    	.st0{fill:none;stroke:currentColor;stroke-width:3;stroke-linecap:square;stroke-miterlimit:10;}
                    </style>
                    <g>
                    	<g>
                    		<line class="st0" x1="8.5" y1="29" x2="50" y2="70.5"></line>
                    	</g>
                    	<g>
                    		<line class="st0" x1="91.5" y1="29" x2="50" y2="70.5"></line>
                    	</g>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
            <div style="height: 0px;" class="roadmap-description-container">
              <div class="h3-builders-reference">Builder</div>
              <p class="roadmap-item-description">snakewaypasser</p>
              <div class="h3-builders-reference">Reward</div>
                <p class="roadmap-item-description">35,000,000 XCASH</p>
                <a href="https://github.com/X-CASH-official/builders-program/tree/master/BP-01" class="button-done w-button">Project Description</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="contributor-positions" class="section section-white wf-section">
  <div class="w-container">
    <h1 class="h1-section">Open Contributor Positions</h1>
    <p class="h1-subtitles">You are looking to contribute to the project but you are not a developer? You are at the right place.<br>The X-Cash Foundation also needs engaged people to help manage, promote, and improve X-Cash.<br><br>Apply to a contributor position and become part of the X-Cash Foundation.</p>
    <div class="roadmap-container w-row">
      <div class="roadmap-category-container w-col w-col-3">
        <h2 class="roadmap-in-progress">Open Positions</h2>
      </div>
      <div class="roadmap-item-container w-col w-col-9">
        <div class="roadmap-items w-dyn-list">
          <div role="list" class="roadmap-list w-dyn-items">
            <div role="listitem" class="collection-item-coming-up w-dyn-item">
              <div data-w-id="bb417596-d435-b607-66ba-8f01fedc019d" class="column-coming-up accordion-container w-row">
                <div class="roadmap-item-title w-col w-col-5">
                  <h3 class="h3-builders-item">Project Manager</h3>
                </div>
                <div class="roadmap-button w-col w-col-5"></div>
                <div class="roadmap-trigger w-col w-col-2"><div class="arrow-trigger w-embed">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                    <style type="text/css">
                    	.st0{fill:none;stroke:currentColor;stroke-width:3;stroke-linecap:square;stroke-miterlimit:10;}
                    </style>
                    <g>
                    	<g>
                    		<line class="st0" x1="8.5" y1="29" x2="50" y2="70.5"></line>
                    	</g>
                    	<g>
                    		<line class="st0" x1="91.5" y1="29" x2="50" y2="70.5"></line>
                    	</g>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          <div style="height: 0px;" class="roadmap-description-container">
            <div class="roadmap-item-description w-richtext">
              <p><strong>Missions</strong></p>
              <p>We are looking to onboard a contributor with project management skills to develop the X-Cash contributor program and help us supervise it.</p>
              <p>As the Project Manager, you will be responsible for:</p>
              <p>- &nbsp; &nbsp; &nbsp; &nbsp; Finalizing the contribution guidelines with the other contributors</p>
              <p>- &nbsp; &nbsp; &nbsp; &nbsp; Define the contribution workflow in GitHub Project</p>
              <p>- &nbsp; &nbsp; &nbsp; &nbsp; Follow up and update the existing pipeline of projects</p>
              <p>-	Apply and enforce the contribution guidelines for healthy repositories</p>
              <p>- &nbsp; &nbsp; &nbsp; &nbsp; Attend the contributor calls and provide updates to the rest of contributors</p>
              <p>- &nbsp; &nbsp; &nbsp; &nbsp; Coordinate with the communication team to provide articles and content to update the community</p>
              <p>&nbsp;</p>
              <p><strong>Contributor Profile</strong></p>
              <p>- &nbsp; &nbsp; &nbsp; &nbsp; Previous relevant experiences in project management</p>
              <p>- &nbsp; &nbsp; &nbsp; &nbsp; Knowledge of the X-Cash Core technology and principles</p>
              <p>- &nbsp; &nbsp; &nbsp; &nbsp; Understanding of GitHub workflow and GitHub Projects</p>
              <p>- &nbsp; &nbsp; &nbsp; &nbsp; Great communication and written skills (English)</p>
              <p>- &nbsp; &nbsp; &nbsp; &nbsp; Proactive and Curious</p>
              <p>- &nbsp; &nbsp; &nbsp; &nbsp; Being already active in the X-Cash community is a strong plus</p>
              <p>&nbsp;</p>
              <p><strong>Retribution &amp; Terms</strong></p>
              <p>This task is retribution 350 USD XCASH equivalent per month, capped at 20USD/MXCASH. The retribution is paid between the 25-31st of each month. After a 6 month period,&nbsp; possibility of integrating the team fund reward.</p>
              <p><em>The position is indefinitely renewable in two-months cycles. XCASH valuation is taken at the time of the payment, from Coingecko live data. Payment will be made using X-Cash’s public transaction for auditability.&nbsp;</em></p>
              <p>&nbsp;</p>
              <p><strong>Application Process</strong></p>
              <p>You are interested? Please provide your application before April, 30th 2021.</p>
              <p>Your application should contain:</p>
              <ul role="list">
                <li>A short summary about you and how you are the most able to succeed in this position.</li>
                <li>Contact information (Discord ID, mail, name)</li>
              </ul>
              <p>
                <strong><br></strong></p><p><em>The final decision results will be shared by the X-Cash Foundation committee during the next weekly contributor call.</em>
              </p>
            </div>
            <div class="apply-button w-embed">
              <a class="button-orange w-button" href="mailto:contribution@xcash.foundation?subject=[Contributor Application] Project Manager">Apply</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
<div id="github-repo" class="section section-white wf-section">
  <div class="w-container">
    <h1 class="h1-section">X-Cash Repositories</h1>
    <p class="h1-subtitles">As an open-source project, X-Cash GitHub repositories are open for public contributions. See our <a href="https://github.com/X-CASH-official/.github/blob/master/CONTRIBUTING.md" class="inline-link">contribution guidelines</a>, check open issues and participate in the X-Cash development.<br><br>Some issues will be assigned a special tag for bounty. These issues can be undertaken by members of the community to earn XCASH&nbsp;rewards.
    </p>
    <div class="repositories-list w-dyn-list">
      <div role="list" class="w-dyn-items w-row">
        <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
          <a href="https://github.com/X-CASH-official/xcash-core" class="repository-block w-inline-block">
            <div>
            <h3 class="repo-name">xcash-core</h3>
            <div class="repo-description">📦 First Cryptonote coin with public &amp; private transactions, custom DPOS consensus</div>
          </div>
          <div class="div-block">
            <div class="repo-icons w-embed">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <style type="text/css">
                	.st0{fill:currentColor;}
                </style>
                <path class="st0" d="M25.5,7.1l4.6,9.2c0.2,0.5,0.7,0.8,1.3,0.9l10.2,1.5c1.4,0.2,2,1.9,0.9,2.9l-7.4,7.2c-0.4,0.4-0.6,1-0.5,1.5
                	l1.7,10.2c0.2,1.4-1.2,2.4-2.5,1.8l-9.1-4.8c-0.5-0.3-1.1-0.3-1.6,0l-9.1,4.8c-1.2,0.7-2.7-0.4-2.5-1.8l1.7-10.2
                	c0.1-0.6-0.1-1.1-0.5-1.5l-7.4-7.2c-1-1-0.5-2.7,0.9-2.9l10.2-1.5c0.6-0.1,1-0.4,1.3-0.9l4.6-9.2C23.1,5.9,24.9,5.9,25.5,7.1z"></path>
              </svg>
            </div>
            <div class="repo-stats">61</div>
            <div class="repo-icons w-embed">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                <style type="text/css">
                	.st0{fill:currentColor;}
                </style>
                <path class="st0" d="M7,2C5.3,2,4,3.3,4,5c0,1.3,0.8,2.4,2,2.8V15v1.2c-1.2,0.4-2,1.5-2,2.8c0,1.7,1.3,3,3,3s3-1.3,3-3
                	c0-1.3-0.8-2.4-2-2.8V15c0-0.6,0.3-0.9,1.1-1.4c0.8-0.5,2-0.9,3.3-1.3c1.3-0.4,2.6-0.9,3.7-1.7c0.9-0.6,1.6-1.6,1.9-2.8
                	C19.1,7.5,20,6.3,20,5c0-1.7-1.3-3-3-3s-3,1.3-3,3c0,1.3,0.8,2.3,1.9,2.8c-0.2,0.5-0.5,0.8-1,1.2c-0.8,0.6-1.9,1-3.2,1.4
                	s-2.5,0.8-3.6,1.5c0,0,0,0-0.1,0V7.8c1.2-0.4,2-1.5,2-2.8C10,3.3,8.7,2,7,2z"></path>
              </svg>
            </div>
            <div class="repo-stats">19</div>
          </div>
        </a>
      </div>
      <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
        <a href="https://github.com/X-CASH-official/xcash-dpops" class="repository-block w-inline-block">
          <div>
            <h3 class="repo-name">xcash-dpops</h3>
          <div class="repo-description">🗳 Delegated-Proof-of-Private-Stake: First DPoS implementation on a Monero-based coin</div>
        </div>
        <div class="div-block">
          <div class="repo-icons w-embed">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
              <style type="text/css">
              	.st0{fill:currentColor;}
              </style>
              <path class="st0" d="M25.5,7.1l4.6,9.2c0.2,0.5,0.7,0.8,1.3,0.9l10.2,1.5c1.4,0.2,2,1.9,0.9,2.9l-7.4,7.2c-0.4,0.4-0.6,1-0.5,1.5
              	l1.7,10.2c0.2,1.4-1.2,2.4-2.5,1.8l-9.1-4.8c-0.5-0.3-1.1-0.3-1.6,0l-9.1,4.8c-1.2,0.7-2.7-0.4-2.5-1.8l1.7-10.2
              	c0.1-0.6-0.1-1.1-0.5-1.5l-7.4-7.2c-1-1-0.5-2.7,0.9-2.9l10.2-1.5c0.6-0.1,1-0.4,1.3-0.9l4.6-9.2C23.1,5.9,24.9,5.9,25.5,7.1z"></path>
            </svg>
          </div>
          <div class="repo-stats">28</div>
          <div class="repo-icons w-embed">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
              <style type="text/css">
              	.st0{fill:currentColor;}
              </style>
              <path class="st0" d="M7,2C5.3,2,4,3.3,4,5c0,1.3,0.8,2.4,2,2.8V15v1.2c-1.2,0.4-2,1.5-2,2.8c0,1.7,1.3,3,3,3s3-1.3,3-3
              	c0-1.3-0.8-2.4-2-2.8V15c0-0.6,0.3-0.9,1.1-1.4c0.8-0.5,2-0.9,3.3-1.3c1.3-0.4,2.6-0.9,3.7-1.7c0.9-0.6,1.6-1.6,1.9-2.8
              	C19.1,7.5,20,6.3,20,5c0-1.7-1.3-3-3-3s-3,1.3-3,3c0,1.3,0.8,2.3,1.9,2.8c-0.2,0.5-0.5,0.8-1,1.2c-0.8,0.6-1.9,1-3.2,1.4
              	s-2.5,0.8-3.6,1.5c0,0,0,0-0.1,0V7.8c1.2-0.4,2-1.5,2-2.8C10,3.3,8.7,2,7,2z"></path>
              </svg>
            </div>
          <div class="repo-stats">14</div>
        </div>
      </a>
    </div>
    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a href="https://github.com/X-CASH-official/delegates-explorer" class="repository-block w-inline-block">
        <div>
          <h3 class="repo-name">delegates-explorer</h3>
          <div class="repo-description">🔍 Delegates Explorer - Delegates, votes, reserve proofs information</div>
        </div>
        <div class="div-block">
          <div class="repo-icons w-embed">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
              <style type="text/css">
              	.st0{fill:currentColor;}
              </style>
              <path class="st0" d="M25.5,7.1l4.6,9.2c0.2,0.5,0.7,0.8,1.3,0.9l10.2,1.5c1.4,0.2,2,1.9,0.9,2.9l-7.4,7.2c-0.4,0.4-0.6,1-0.5,1.5
              	l1.7,10.2c0.2,1.4-1.2,2.4-2.5,1.8l-9.1-4.8c-0.5-0.3-1.1-0.3-1.6,0l-9.1,4.8c-1.2,0.7-2.7-0.4-2.5-1.8l1.7-10.2
              	c0.1-0.6-0.1-1.1-0.5-1.5l-7.4-7.2c-1-1-0.5-2.7,0.9-2.9l10.2-1.5c0.6-0.1,1-0.4,1.3-0.9l4.6-9.2C23.1,5.9,24.9,5.9,25.5,7.1z"></path>
            </svg>
          </div>
          <div class="repo-stats">8</div>
          <div class="repo-icons w-embed">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
              <style type="text/css">
              	.st0{fill:currentColor;}
              </style>
              <path class="st0" d="M7,2C5.3,2,4,3.3,4,5c0,1.3,0.8,2.4,2,2.8V15v1.2c-1.2,0.4-2,1.5-2,2.8c0,1.7,1.3,3,3,3s3-1.3,3-3
              	c0-1.3-0.8-2.4-2-2.8V15c0-0.6,0.3-0.9,1.1-1.4c0.8-0.5,2-0.9,3.3-1.3c1.3-0.4,2.6-0.9,3.7-1.7c0.9-0.6,1.6-1.6,1.9-2.8
              	C19.1,7.5,20,6.3,20,5c0-1.7-1.3-3-3-3s-3,1.3-3,3c0,1.3,0.8,2.3,1.9,2.8c-0.2,0.5-0.5,0.8-1,1.2c-0.8,0.6-1.9,1-3.2,1.4
              	s-2.5,0.8-3.6,1.5c0,0,0,0-0.1,0V7.8c1.2-0.4,2-1.5,2-2.8C10,3.3,8.7,2,7,2z"></path>
            </svg>
          </div>
          <div class="repo-stats">3</div>
        </div>
      </a>
    </div>
    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a href="https://github.com/X-CASH-official/delegates-pool-website" class="repository-block w-inline-block">
        <div>
          <h3 class="repo-name">delegates-pool-website</h3>
          <div class="repo-description">💻 Delegates pool website - Delegates vote count, payment history etc...</div>
        </div>
        <div class="div-block">
          <div class="repo-icons w-embed">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
              <style type="text/css">
              	.st0{fill:currentColor;}
              </style>
              <path class="st0" d="M25.5,7.1l4.6,9.2c0.2,0.5,0.7,0.8,1.3,0.9l10.2,1.5c1.4,0.2,2,1.9,0.9,2.9l-7.4,7.2c-0.4,0.4-0.6,1-0.5,1.5
              	l1.7,10.2c0.2,1.4-1.2,2.4-2.5,1.8l-9.1-4.8c-0.5-0.3-1.1-0.3-1.6,0l-9.1,4.8c-1.2,0.7-2.7-0.4-2.5-1.8l1.7-10.2
              	c0.1-0.6-0.1-1.1-0.5-1.5l-7.4-7.2c-1-1-0.5-2.7,0.9-2.9l10.2-1.5c0.6-0.1,1-0.4,1.3-0.9l4.6-9.2C23.1,5.9,24.9,5.9,25.5,7.1z"></path>
            </svg>
          </div>
          <div class="repo-stats">5</div>
          <div class="repo-icons w-embed">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
              <style type="text/css">
              	.st0{fill:currentColor;}
              </style>
              <path class="st0" d="M7,2C5.3,2,4,3.3,4,5c0,1.3,0.8,2.4,2,2.8V15v1.2c-1.2,0.4-2,1.5-2,2.8c0,1.7,1.3,3,3,3s3-1.3,3-3
              	c0-1.3-0.8-2.4-2-2.8V15c0-0.6,0.3-0.9,1.1-1.4c0.8-0.5,2-0.9,3.3-1.3c1.3-0.4,2.6-0.9,3.7-1.7c0.9-0.6,1.6-1.6,1.9-2.8
              	C19.1,7.5,20,6.3,20,5c0-1.7-1.3-3-3-3s-3,1.3-3,3c0,1.3,0.8,2.3,1.9,2.8c-0.2,0.5-0.5,0.8-1,1.2c-0.8,0.6-1.9,1-3.2,1.4
              	s-2.5,0.8-3.6,1.5c0,0,0,0-0.1,0V7.8c1.2-0.4,2-1.5,2-2.8C10,3.3,8.7,2,7,2z"></path>
            </svg>
          </div>
          <div class="repo-stats">5</div>
        </div>
      </a>
    </div>
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
            <a href="https://github.com/X-CASH-official/android-wallet" class="repository-block w-inline-block">
              <div>
                <h3 class="repo-name">android-wallet</h3>
                <div class="repo-description">📱 X-Cash mobile wallet for Android phones</div>
              </div>
              <div class="div-block">
                <div class="repo-icons w-embed">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                    <style type="text/css">
                    	.st0{fill:currentColor;}
                    </style>
                    <path class="st0" d="M25.5,7.1l4.6,9.2c0.2,0.5,0.7,0.8,1.3,0.9l10.2,1.5c1.4,0.2,2,1.9,0.9,2.9l-7.4,7.2c-0.4,0.4-0.6,1-0.5,1.5
                    	l1.7,10.2c0.2,1.4-1.2,2.4-2.5,1.8l-9.1-4.8c-0.5-0.3-1.1-0.3-1.6,0l-9.1,4.8c-1.2,0.7-2.7-0.4-2.5-1.8l1.7-10.2
                    	c0.1-0.6-0.1-1.1-0.5-1.5l-7.4-7.2c-1-1-0.5-2.7,0.9-2.9l10.2-1.5c0.6-0.1,1-0.4,1.3-0.9l4.6-9.2C23.1,5.9,24.9,5.9,25.5,7.1z"></path>
                  </svg>
                </div>
                <div class="repo-stats">5</div>
                <div class="repo-icons w-embed">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                    <style type="text/css">
                    	.st0{fill:currentColor;}
                    </style>
                    <path class="st0" d="M7,2C5.3,2,4,3.3,4,5c0,1.3,0.8,2.4,2,2.8V15v1.2c-1.2,0.4-2,1.5-2,2.8c0,1.7,1.3,3,3,3s3-1.3,3-3
                    	c0-1.3-0.8-2.4-2-2.8V15c0-0.6,0.3-0.9,1.1-1.4c0.8-0.5,2-0.9,3.3-1.3c1.3-0.4,2.6-0.9,3.7-1.7c0.9-0.6,1.6-1.6,1.9-2.8
                    	C19.1,7.5,20,6.3,20,5c0-1.7-1.3-3-3-3s-3,1.3-3,3c0,1.3,0.8,2.3,1.9,2.8c-0.2,0.5-0.5,0.8-1,1.2c-0.8,0.6-1.9,1-3.2,1.4
                    	s-2.5,0.8-3.6,1.5c0,0,0,0-0.1,0V7.8c1.2-0.4,2-1.5,2-2.8C10,3.3,8.7,2,7,2z"></path>
                  </svg>
                </div>
                <div class="repo-stats">3</div>
              </div>
            </a>
          </div>
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
            <a href="https://github.com/X-CASH-official/delegates-supervisor" class="repository-block w-inline-block">
          <div>
          <h3 class="repo-name">delegates-supervisor</h3>
          <div class="repo-description">👩‍💻 Delegates status supervisor - Check delegates statistics and status</div>
        </div>
        <div class="div-block">
          <div class="repo-icons w-embed">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
            <style type="text/css">
            	.st0{fill:currentColor;}
            </style>
            <path class="st0" d="M25.5,7.1l4.6,9.2c0.2,0.5,0.7,0.8,1.3,0.9l10.2,1.5c1.4,0.2,2,1.9,0.9,2.9l-7.4,7.2c-0.4,0.4-0.6,1-0.5,1.5
            	l1.7,10.2c0.2,1.4-1.2,2.4-2.5,1.8l-9.1-4.8c-0.5-0.3-1.1-0.3-1.6,0l-9.1,4.8c-1.2,0.7-2.7-0.4-2.5-1.8l1.7-10.2
            	c0.1-0.6-0.1-1.1-0.5-1.5l-7.4-7.2c-1-1-0.5-2.7,0.9-2.9l10.2-1.5c0.6-0.1,1-0.4,1.3-0.9l4.6-9.2C23.1,5.9,24.9,5.9,25.5,7.1z"></path>
            </svg>
          </div>
          <div class="repo-stats">1</div>
          <div class="repo-icons w-embed">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
            <style type="text/css">
            	.st0{fill:currentColor;}
            </style>
            <path class="st0" d="M7,2C5.3,2,4,3.3,4,5c0,1.3,0.8,2.4,2,2.8V15v1.2c-1.2,0.4-2,1.5-2,2.8c0,1.7,1.3,3,3,3s3-1.3,3-3
            	c0-1.3-0.8-2.4-2-2.8V15c0-0.6,0.3-0.9,1.1-1.4c0.8-0.5,2-0.9,3.3-1.3c1.3-0.4,2.6-0.9,3.7-1.7c0.9-0.6,1.6-1.6,1.9-2.8
            	C19.1,7.5,20,6.3,20,5c0-1.7-1.3-3-3-3s-3,1.3-3,3c0,1.3,0.8,2.3,1.9,2.8c-0.2,0.5-0.5,0.8-1,1.2c-0.8,0.6-1.9,1-3.2,1.4
            	s-2.5,0.8-3.6,1.5c0,0,0,0-0.1,0V7.8c1.2-0.4,2-1.5,2-2.8C10,3.3,8.7,2,7,2z"></path>
            </svg>
          </div>
          <div class="repo-stats">2</div>
        </div>
      </a>
    </div>
  </div>
  </div><a href="https://github.com/X-CASH-official" class="button-orange w-button">GitHub</a></div>
</div>




<div id="go-further" class="section wf-section">
  <div class="w-container">
    <h1 class="h1-section">Go Further</h1>
    <div class="bubble-column w-row">
      <div class="info-bubble w-col w-col-4">
        <!-- <div data-w-id="e3d6bbc5-d4eb-2074-6121-d809d8c96df3" data-animation-type="lottie" data-src="documents/manphone.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="3.6" data-duration="0" class="info-lottie"></div> -->
        <ngx-lottie-view path="./../../../assets/documents/manphone.json" class="info-lottie"  data-default-duration="3.6" data-duration="0">
        </ngx-lottie-view>
        <h3 class="bubble-title">Join the Growing Community</h3>
        <a href="https://discord.gg/4CAahnd" class="button-orange w-button">Discord Server</a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <!-- <div data-w-id="e3d6bbc5-d4eb-2074-6121-d809d8c96df9" data-animation-type="lottie" data-src="documents/manacademy.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="2.0166666666666666" data-duration="0" class="info-lottie"></div> -->
        <ngx-lottie-view path="./../../../assets/documents/manacademy.json" class="info-lottie" data-default-duration="2.0166666666666666" data-duration="0">
        </ngx-lottie-view>
        <h3 class="bubble-title">Read the Documentation</h3>
        <a href="https://docs.xcash.foundation/" class="button-orange w-button">Documentation</a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <!-- <div data-w-id="e3d6bbc5-d4eb-2074-6121-d809d8c96dff" data-animation-type="lottie" data-src="documents/womanread.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="2.466666666666667" data-duration="0" class="info-lottie"></div> -->
        <ngx-lottie-view path="./../../../assets/documents/womanread.json" class="info-lottie"  data-default-duration="2.466666666666667" data-duration="0">
        </ngx-lottie-view>
        <h3 class="bubble-title">Read The Latest News</h3>
        <a href="https://medium.com/x-cash" class="button-orange w-button">Blog</a>
      </div>
    </div>
  </div>
</div>
