.pos-overlay{
    position:fixed;
    top:40%;
    left:40%;
    size-adjust:100%;
    opacity: 100;
    border: 5px solid #fa741c;
    color:#fa741c;
    background-color:#1f1f1f;
    transform: rotate(360);

}

.pos-overlay-drop{
  position:fixed;
  /* top:76.5%; */
  bottom:130px;
  left:15px;
}

.pos-overlay-svg{
  position:fixed;
  /* top:88.5%; */
  bottom:15px;
  left:15px;
  opacity: 100;
  color:#fa741c;
  background-color:transparent;
}

.button-svg{
  width:120px;
}

.white{
  color:f1f1f1;
}

#rotate{
  vertical-align:top;
  transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
}

.example-list {
    width: 130px;
    border: solid 5px #fa741c;
    border-radius: 4px;
    background: #1f1f1f;
    text-align: center;
    padding: 0px;
    margin: 0;
  }

.example-list > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.example-list > li:last-child {
  border-bottom: none;
}


@media screen and (max-width: 301px) {
   .mobileHide { display: none; }
}

@media screen and (max-width: 479px) {
  .mobileHide {
      display: none;
  }
}
@media screen and (max-width: 767px) {
   .mobileHide {
     display: none;
  }
}
@media screen and (max-width: 991px) {
  .mobileHide {
    display: none;
   }
 }
