<button class="pos-overlay-svg mobileHide" (click)="isOpen = !isOpen"  type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
 <img class="button-svg mobileHide" src="\assets\images\wallet_clean.svg">
</button>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayHasBackdrop]="true"
    (backdropClick)="isOpen = false">

    <ul class="example-list pos-overlay-drop mobileHide">
       <li><a routerLink="wallet" fragment="desktop" >GUI</a></li>
       <li><a routerLink="wallet" fragment="desktop" >CLI</a></li>
       <li><a routerLink="wallet" fragment="mobile" >Mobile</a></li>
    </ul>
</ng-template>
