.buttonClick{
  background: transparent;
}

.bb, .bb::before, .bb::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .bb {
    content: '';
    top:-14%;
    width: 2.5%;
    height: 30%; /*1630*/
    margin-top: 15%;
    z-index: 10;
    border-left: transparent; /*7px solid #fa741c;*/
    animation: clipMe 600s linear infinite;
    animation-play-state: running;

  }

  .bb:hover{
      animation-play-state: paused;
  }

  @keyframes clipMe {

 0%{ left:0; top: 0%}
 5%{ left: 0%; top: 163%}
 10%{ left: 0%; top: 326%}
 15%{ left:0; top: 489%}
 20%{ left: 0%; top: 652%}
 25%{ left: 0%; top: 815%}
 30%{ left: 0%; top: 978%}
 35%{left: 0%; top: 1141%;}
 40%{ left:0; top: 1304%}
 45%{ left: 0%; top: 1467%}
 50%{ left: 0%; top: 1630%}
 55%{ left: 0%; top: 1430%}
 60%{ left:0; top: 1304%}
 65%{ left: 0%; top: 1141%}
 70%{ left: 0%; top: 978%}
 75%{ left: 0%; top: 815%}
 80%{left: 0%; top: 652%;}
 85%{ left:0; top: 489%}
 90%{ left: 0%; top: 326%}
 95%{ left: 0%; top: 163%}
 100%{ left: 0%; top: 1%}
}

.button-style{
  width:250px;
  background-color: #1f1f1f;
  border:  solid 1px #fa741c;

  text-decoration: none;
}

.button-style:hover{
  transform:scale(1.11);
  border:none
}

.button-style{

  background: #1f1f1f;
}
/* classes with border-styles */
.bottom-border{
  border-bottom:#f1f1f1 solid 4px;
}
.no-tb-border{
  border-bottom:0;
  border-top: 0;
}

.a-style{
  text-align:center;
  font-size: 17px;
  color:#fa741c;
  text-decoration: none;
}

.guru{
  width:650%;
  height:650%;
  z-index: 1;
  margin-top: -700%;
  margin-bottom: -350%;
  margin-left:-30%;
}

.orb{
  width:250%;
  height:250%;
  z-index: 1;
  margin-top: -1000%;
  margin-bottom: -280%;
  margin-left:170%;
}

.dropdown-link12 {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-weight: 500;
}

@media screen and (max-width: 301px) {
  .mobileHide { display: none; }
}
@media screen and (max-width: 479px) {
 .mobileHide {
     display: none;}
}
@media screen and (max-width: 767px) {
  .mobileHide {
    display: none;}
}
@media screen and (max-width: 991px) {
 .mobileHide {
   display: none;}
}
