<button style='background: transparent;' class="bb" (click)="flagOn = !flagOn" >

    <div *ngIf="!flagOn">
    <ngx-lottie-view path="assets/documents/enlightened3.json" class="round-animation" data-default-duration="1.1833333333333333" data-duration="5" style="width:250px; height:250px; z-index: 1;">
    </ngx-lottie-view>
    <button style="width:600%; border:solid #fa741c 4px; background-color: transparent;">
    <a style="text-align:center; font-size: 1.4rem; color:#fa741c; background-color: transparent;" href="https://www.xcash.foundation/contribute" class="dropdown-link w-dropdown-link"><strong>Join our Team</strong></a>

    </button>
</div>
<div *ngIf="flagOn"></div>

<div cdkOverlayOrigin #trigger="cdkOverlayOrigin"></div>




<ng-template [cdkConnectedOverlay]
    [cdkConnectedOverlayOpen]="isOpen"

    (backdropClick)="isOpen = !isOpen">


</ng-template>