<div id="sidechains" class="section full-height middle-centered black wf-section">
    <div class="w-container sidechains-scale-and-positioning-for-small-screens">
      <div class="technology-text-column w-col w-col-9">
        <h1 class="h1-section col-white move-down-sidechains">Sidechains</h1>

          <span class="orange">X-Cash's true innovation lays in its capacity to generate new blockchains on demand.<br> These blockchain are directly hosted by the delegates, and due to their adherence to our consensus's strict security parameters, they are secured, customizable, & economical.</span><br><br><br>
          <span class="orange">No hardware needed<br/></span>A sidechain is a full blockchain which is hosted by the delegates. This means that contrary to traditional blockchains, you do not need to rent your own infrastructure.<br/><br/>
          <span class="orange">Easy to code and customizable</span><br> The deployment of a sidechain is fully automated and does not require extensive coding skills. Thanks to X-Blockchain modules, you can choose a pre-customized blockchain that suits your needs.<br/><br/>
          <span class="orange">Symmetrically Secure</span><br/>All nodes operate side chains with implicit consent from all other nodes as part of X-Cash's inherited security model.<br/><br/>
          <span class="orange">Technological arms race</span><br/>Delegate nodes will be concurrently in a race to secure the highest spec system resources in order to achieve the block rewards for appending decentralised database entries of time sensitive-transactions by:

            <ul class="list-2-small-txt">
              <li>Maintaining low network latency and competitive CPU and RAM to be able to process incoming TXs, then store TX data.</li>
              <li>Maintaining appropriate network speed to be able to sync with the rest of our nodes.</li>
            </ul>
        <p>
          <span class="orange">Cost effective and scalable</span>
          <br/>Because a sidechain is your blockchain, you can set how many delegates will host it and how many sidechains you will need. Our sidechains expand and contract to suit your evolving circumstances making them the go-to solution for cost-effective Blockchain hosting.

      </div>
      <div class="round-animation-column w-col w-col-2 sidechains-lottie-move-scale">
          <ngx-lottie-view path="./../../../assets/documents/data_dark.json" class="card-dark-style" data-default-duration="1.1833333333333333" data-duration="5">
          </ngx-lottie-view>
      </div>

      <div class="horizontal-button-container">
        <a target="_blank" href="https://docs.xcash.foundation/dpops/yellowpaper-delagated-proof-of-private-stake" class="button-black inverse button-1 w-button pos-sidechains-button">Read up on Sidechains in our Docs</a>
      </div>
    </div>
  </div>
