<div id="sidechains" class="section full-height middle-centered black wf-section">
    <div class="w-container">
      <div class="technology-text-column w-col w-col-9">
        <h1 class="h1-section orange">Sidechains</h1>
        <p>
          X-Cash&#x27;s true innovation relies in its capacity to spawn new blockchains on demand. Because these blockchain are directly hosted by the delegates, they are secured, customizable,
          & economical.
          <br/>
          <br/><strong class="orange">No hardware needed<br/></strong>A sidechain is a full blockchain which is hosted by the delegates. This means that contrary to traditional blockchains, you do not need to rent your own infrastructure.
          <br/>‍
          <br/><strong class="orange">Easy to code and customizable</strong>
          <br/>The deployment of a sidechain is fully automated and does not require extensive coding skills. Thanks to X-Blockchain modules, you can even choose an already customized blockchain that matches your needs.
          <br/>
          <br/><strong class="orange">Symmetrically Secure</strong>
          <br/>All nodes operate side chains with implicit consent from all other nodes as part of X-Cash's inherited security model.
          <br/>
          <br/><strong class="orange">Technological arms race</strong>
          <br/>Delegate nodes will be concurrently in a race to secure the highest spec system resources in order to achieve the block rewards for appending decentralised database entries of time
          sensitive-transactions by:
          <ul class="list-2-small-txt"><br/>
            <li>Maintaining low network latency and competitive CPU and RAM to be able to process incoming txs, then store tx data.</li>
            <li>Maintaining appropriate network speed to be able to sync with the rest of our nodes.</li>
          </ul>
          <br/><strong class="orange">Cost effective and scalable</strong>
          <br/>Because a sidechain is your blockchain, you can set how many delegates will host it and how many sidechains you will need. Therefore, sidechains can perfectly match and grow with your needs which makes them cost effective.
  
      </div>
      <div class="round-animation-column w-col w-col-2">
          <!-- <div data-w-id="a28de8f5-7e76-4a44-83a7-7925122f1599" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/5f5f5f0330588e2883713b14/5f5f846002b9bd169ee96fde_data.json" data-loop="1" data-direction="1" data-autoplay="1"
          data-is-ix2-target="0" data-renderer="svg" data-default-duration="1.7" data-duration="0" class="round-animation"></div> -->
          <ngx-lottie-view path="./../../../assets/documents/data_dark.json" class="round-animation" data-default-duration="1.1833333333333333" data-duration="5" style="width:250px; height:250px">
          </ngx-lottie-view>
      </div>
    </div>
  </div>