<div id="xpy" class="section full-height middle-centered black wf-section">
  <div class="w-container total-scale-py-screens ">
    <div class="technology-text-column w-col w-col-9">
      <h1 class="h1-section orange">X-Py</h1>
        <p class="h1-subtitles reduce-subs-py">X-Cash in the web's favorite scripting language.</p>
          <p class="reduced-width reduce-py">
            <strong class="orange">RPC</strong><br/><span class="unbolden-text">Full wallet, Daemon, and DPOPS management utlities.</span><br><br/>
            <strong class="orange">Explorer</strong><br/><span class="unbolden-text">Blockchain explorer api wrapper for a deep dive into the data.</span><br><br>
            <strong class="orange">Delegates</strong><br/><span class="unbolden-text">Delegate explorer api wrapper to parse the data that matters.</span>
          </p>
    </div>
    <div>
      <img class="xpy-style" src="/assets/images/Xpy.svg">
    </div>
    <div class="horizontal-button-container xpy-buttons">
      <a target="_blank" href="https://github.com/X-CASH-official/XCASH-Ecosystem-api-wrapper" class="button-black inverse button-1 w-button ">Git repo</a>
      <a target="_blank" href="https://pypi.org/project/xcash/0.3.0/" class="button-black inverse button-1 w-button py-button-indent">PyPi</a>
    </div>

  </div>
</div>
