<div id="xdex" class="section half-height middle-centered black wf-section">
    <div class="container-wxcash w-container xdex-scale-and-positioning-for-small-screens">
       <img class="dex-style" src="/assets/images/xdexv16.svg">
       <p class="floaty-right xdex-margin">
        </p>
        <h1 class="h1-section orange">X-Dex</h1>
        <h2 class="width-xdex-text"><strong>Trade on X-Cash's native Decentralized exchange</strong></h2>
      
        <div class="h1-subtitles reduced-width">
          <ul role="list" class="list-5 text-big">
            <li class="consensus-item coming-xdex"><strong class="orange">Coming Soon</strong>
            </li>
  
          </ul>
        </div>
  
    </div>
  </div>