<div id="xdex" class="section half-height middle-centered black wf-section">
    <!--ngx-lottie-view path="./../../../assets/documents/data---Copy_dark_nogrid.json" class="background-animation" data-default-duration="1.1833333333333333" data-duration="5">
    </ngx-lottie-view-->
    <div class="container-wxcash w-container">
        <p class="floaty-right">
        <img class="dex-style" src="/assets/images/xdexv16.svg">
        </p>
        <h1 class="h1-section orange">X-Dex</h1>
        <h2 class=""><strong>Trade on X-Cash's native Decentralized exchange</strong></h2>
        <!--p class="h1-subtitles"><span class="bg-dark"><strong> Private, secure, expansive, and feature-full.</strong></span><br></p>-->
        <div class="h1-subtitles reduced-width">
          <ul role="list" class="list-5 text-big">
            <li class="consensus-item"><strong class="orange ">Coming Soon</strong>
            </li>
  
          </ul>
        </div>
  
    </div>
  </div>