<div id="xpy" class="section full-height middle-centered black wf-section">
  <div class="w-container total-scale-py-screens ">
    <div class="technology-text-column w-col w-col-9">
      <h1 class="h1-section orange">X-Dex</h1>
        <h2 class="h1-subtitles reduce-subs-py">Trade on X-Cash's native Decentralized exchange</h2>
    </div>
    <div>
      <img class="xpy-style move-xdex-svg-right" src="/assets/images/xdexv16.svg">
    </div>
    <h2 class="horizontal-button-container xpy-buttons move-coming-soon-xdex orange">
      Coming Soon
    </h2>
</div>
