<div id="dpops" class="section full-height middle-centered black wf-section">
    <div class="w-container dpops-scale-and-positioning-for-small-screens">
      <div class="technology-text-column w-col w-col-9">
        <h1 class="h1-section orange">Delegated <br/>Proof-of-Private-Stake</h1>
          <p class="h1-subtitles grow-hybrid-subs dpops-specific"><strong>Our Blockchain offers the only implementation of Private DPOS and a DAG, thus enabling the crypto playground for all to coalesce.</strong></p>
        <p>

            <span class="orange">Staking</span> <br/>The X-Cash Blockchain is secured by delegates who are elected by XCASH holders. By providing your vote through an XCASH reserve proof, you are electing a representative to secure the network and forge new blocks, who will in return split the block reward with you.<br/><br/>
            <span class="orange">Randomized Block Producer Selection</span> <br/> The selection of the next block-producing delegate is completely randomized through our use of Verifiable Random Functions (VRF), therefore increasing the security of our delegates by preventing attacks to the next block producer.<br/><br/>
            <span class="orange">Stake Delegation with Reserve Proofs</span> <br/>Instead of sending your stake to another wallet to vote toward a delegate, you are providing a cryptographic reserve proof of your funds to your delegate, meaning that you keep complete control of your crypto at all times.<br/><br/>
            <span class="orange">DBFT: Delegated Byzantine Fault Tolerance</span> <br/> As compared to the existing implementations of BFT, our DBFT consensus is the BFT protocol upgraded to meet the requirements of a massively-scaled blockchain. To optimize data transmission, block producer selection is made using VRFs while consensus data such as reserve proofs are stored off-chain. X-Cash DBFT has delegates submit data to hash after voting on its validiity. By exchanging hash data, delegates are able to quickly determine if the current hash of one delegate is the same as all current hashes.<br/><br/>
            <span class="underline-stake">Our unique implementation of DBFT grants our blockchain immunity to forks, and instantly validates TXs.</span>

        </p>
      </div>

      <div class="round-animation-column w-col w-col-2 dpops-lottie-move-scale">
        <ngx-lottie-view path="./../../../assets/documents/vote_dark.json" class="card-dark-style" data-default-duration="3.15" data-duration="0">
        </ngx-lottie-view>
      </div>

      <div class="horizontal-button-container">
        <a target="_blank" href="https://docs.xcash.foundation/dpops/yellowpaper-delagated-proof-of-private-stake" class="button-black inverse button-1 w-button pos-dpops-button">Technical architecture paper</a>
      </div>
    </div>
</div>
