<div id="dpops" class="section full-height middle-centered black wf-section">
    <div class="w-container">
      <div class="technology-text-column w-col w-col-9">
        <h1 class="h1-section orange">Delegated <br/>Proof-of-Private-Stake</h1>
        <p class="h1-subtitles">Built to remove scaling limitations, while enhancing overall security, X-Cash's blockchain expands processing capabilities through its Private implementation of DPOS, thus enabling
          the crypto playground for all to coalesce.
        </p>
        <p>
          <strong class="orange">Staking<br/></strong>The X-Cash Public Network is secured by delegates, elected in their position by XCASH holders. By providing your vote through a stake in XCASH,
          you are electing a representative to secure the network and forge new blocks, which will in return split the block reward with you.
          <br/>
          <br/><strong class="orange">DBFT <br/>‍</strong>The unique implementation of DBFT into the consensus process enables the X-Cash blockchain to become immune to forks, henceforth instantly validating new transactions.
          <br/>
          <br/><strong class="orange">Randomized Block Producer Selection</strong>
          <br/>The selection of the next delegate in charge of forging a block is completely randomized through the use of Verifiable Random Functions (VRF), increasing the security of the delegates by preventing attacks to the next
          block producer.
          <br/>
          <br/><strong class="orange">Stake Delegation with Reserve Proofs</strong>
          <br/>Instead of sending your stake to another wallet to vote toward a delegate, you are providing a cryptographic reserve proof of your funds to your delegate, meaning that you keep complete control of your stake at all
          times.
        </p>
      </div>
      <div class="round-animation-column w-col w-col-2">
        <ngx-lottie-view path="./../../../assets/documents/vote_dark.json" class="round-animation" data-default-duration="3.15" data-duration="0" style="width:250px; height:250px">
        </ngx-lottie-view>
      </div>
      <div class="horizontal-button-container">
        <a target="_blank" href="https://docs.xcash.foundation/dpops/yellowpaper-delagated-proof-of-private-stake" class="button-black inverse button-1 w-button">Technical architecture paper</a>
      </div>
    </div>
</div>
