.coin-allocation-text-container {
  margin-left: 20px;
}
.roadmap-ongoing {
    border-top: 5px solid #f1f1f1;
    color: #f1f1f1;
}
.collection-item-ongoing {
    border-color: #f1f1f1;
    color: #f1f1f1;
}
.column-ongoing {
    color: #f1f1f1;
}
.button-ongoing{
  background-color: #1f1f1f;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;

}
.button-ongoing:hover,
.button-roadmap.button-ongoing:hover {
  background-color: #ffffff;
  font-weight: 700;
  color: #1f1f1f;
}

.button-done  {
  background-color: #148ca5;
  font-weight: 400;
  color: #f1f1f1;
}
.button-done:hover,
.button-roadmap.button-done:hover {
  background-color: #ffffff;
  font-weight: 700;
  color: #148ca5;
  border-color:  #148ca5;
}
.button-orange{
  background-color: #1f1f1f;
}
