<div id="namespace" class="section full-height middle-centered black wf-section">
    <div class="w-container">
      <div class="technology-text-column w-col w-col-9">
        <h1 class="h1-section orange">Public TX 2.0 (Namespace)</h1>
        <p class="h1-subtitles"> Operating within the global environment highlights complex challenges for the end-user to solve, and for them, we provide elegant solutions.
        </p>
        <p>
         <strong class="orange">Public Only</strong>
          <br/>Elect to receive Public-only transactions to a Wallet address.
        </p>
        <p>
            <br/><strong class="orange">Unique Identifier</strong>
            <br/> Simplify your transactions by giving your Public-only address a unique name, example: XCashAstronaught.pxcash 1000
          </p>
        <p>
            <br/><strong class="orange">Lorem Ipsum</strong>
            <br/>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum non asperiores nesciunt qui neque deserunt odit nam. Dolorem porro dignissimos saepe qui laborum atque adipisci vel molestiae voluptate asperiores? Blanditiis.
        </p>
      </div>
      <div class="round-animation-column w-col w-col-2">
        <img class="round-animation leaf-svg-enlarge" src="/assets/images/namespace.svg">
      </div>
      <div class="horizontal-button-container">
        <a target="_blank" href="https://docs.xcash.foundation/remotedata/get-started#description-greater-than-x-cash-namespace-allows-for-users-to-create-their-own-.xcash-name." class="button-black inverse button-1 w-button">Public TX 2.0 Docs</a>
      </div>

    </div>
</div>
