<div id="namespace" class="section full-height middle-centered black wf-section">
    <div class="w-container">
      <div class="technology-text-column w-col w-col-9">
        <h1 class="h1-section orange">Public TX 2.0 (Namespace)</h1>
          <p class="h1-subtitles"> The global environment highlights complex operational challenges for the end-user,<br> and for them, we provide elegant solutions.</p>
            <p class="reduced-width">
              <strong class="orange">Public Only</strong><br/>Elect to receive Public-only transactions to a Wallet address.<br><br/>
              <strong class="orange">Unique Identifier</strong><br/>Reduce complexity by giving your transactions a Public (pxcash) address with a unique name. Usage example:<br> <span class="orange"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; transfer XCashAstronaught.pxcash 1000</span><br><br/>
              <strong class="orange">Personal Choice</strong><br/>A wallet that registers a Public name receives access to 3 addresses: Public (pxcash), Private (sxcash), and Regular (xcash).
            </p>
      </div>
      <div>
        <img class="leaf-svg-enlarge" src="/assets/images/namespace.svg">
      </div>
      <div>
        <a target="_blank" href="https://docs.xcash.foundation/remotedata/get-started#description-greater-than-x-cash-namespace-allows-for-users-to-create-their-own-.xcash-name." class="button-black-New inverse button-1 w-button">Public TX 2.0 Docs</a>
      </div>

    </div>
</div>
