.navbar {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border-bottom: 2px solid #ff6d00;
    background-color: #1f1f1f; */
    position: sticky;
    top: 0;
}
/* .nav-link {
    color: #f1f1f1;
    border-color: #1f1f1f;
} */

@media screen and (max-width: 991px) {
  .scroll-back-button {
      display: block !important;
      z-index: 100;
  }
}

.background-animation {
	z-index: 0;
}
.w-container{
    text-align: center;
	z-index: 50;
}
