<!-- <div class="section-3 wf-section">
  <div class="w-container">
    <div class="banner-announcement"><strong>We are joining the Dragon&#x27;s Syrup program on QuickSwap Exchange<br>Provide liquidity and earn XCASH and QUICK.<br></strong>
      <a href="https://medium.com/@paulbugnot/x-cash-x-quickswap-liquidity-program-earn-quick-and-xcash-b309cee832c2">Read More</a>
    </div>
  </div>
</div> -->

<div data-collapse="medium" data-animation="default" data-duration="400" id="navbar" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
  <div class="container w-container">
    <a routerLink="/" aria-current="page" class="brand w-nav-brand w--current"><img src="assets/images/xcash_dark.svg" loading="lazy" width="163" alt="" class="image"></a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a routerLink="/project" class="nav-link w-nav-link">Project</a>
      <a routerLink="/people" class="nav-link w-nav-link">People</a>
      <a target="_blank" href="https://medium.com/x-cash" class="nav-link w-nav-link">Blog</a>
      <a routerLink="/wallet"  class="nav-link w-nav-link">Wallets</a>

      <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
        <div class="nav-link w-dropdown-toggle">
          <div>Tools</div>
          <div class="icon w-icon-dropdown-toggle"></div>
        </div>
        <nav class="dropdown-list w-dropdown-list">
          <!-- <a routerLink="/wallet" class="dropdown-link w-dropdown-link">Wallet</a> -->
          <!-- <a target="_blank" href="https://x-bank.io" class="dropdown-link w-dropdown-link">X-Bank</a> -->
          <a target="_blank" href="https://explorer.xcash.foundation" class="dropdown-link w-dropdown-link">Blockchain Explorer</a>
          <a target="_blank" href="http://delegates.xcash.foundation" class="dropdown-link w-dropdown-link">Delegates Explorer</a>
          <a target="_blank" href="http://calculator.xcash.foundation/" class="dropdown-link w-dropdown-link">Staking Calculator</a>
          <a target="_blank" href="https://github.com/X-CASH-official" class="dropdown-link w-dropdown-link">GitHub</a>
          <a routerLink="/mediakit" class="dropdown-link w-dropdown-link">Media Kit</a>
          <a target="_blank" href="https://xcash.network/" class="dropdown-link w-dropdown-link">Public Daemon list</a>

          
        </nav>
      </div>
      <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
        <div class="nav-link w-dropdown-toggle">
          <div>Services</div>
          <div class="icon w-icon-dropdown-toggle"></div>
        </div>
        <nav class="dropdown-list w-dropdown-list">
          <!-- <a routerLink="/wallet" class="dropdown-link w-dropdown-link">Wallet</a> -->
          <a target="_blank" href="https://x-bank.io" class="dropdown-link w-dropdown-link">X-Bank</a>
          <a target="_blank" href="https://docs.xcash.foundation/applications/xpayment" class="dropdown-link w-dropdown-link">X-Payment</a>
        </nav>
      </div>
      <a target="_blank" href="https://docs.xcash.foundation" class="nav-link w-nav-link">Documentation</a>
      <a routerLink="/contribute" class="button-orange-centered navbar w-button">Contribute</a>
      <!-- <a routerLink="get-started" class="button-orange-centered navbar w-button">Get Started</a> -->
      <!-- <a routerLink="get-started" class="nav-link w-nav-link">Get Started</a> -->
      <!-- <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
        <div class="nav-link w-dropdown-toggle">
          <div id="#language">EN</div>
          <div class="icon w-icon-dropdown-toggle"></div>
        </div>
        <nav class="dropdown-list w-dropdown-list">
          <a href="#" class="dropdown-link w-dropdown-link">Esperanto</a>
          <a href="#" class="dropdown-link w-dropdown-link">Chinese</a>
          <a href="#" class="dropdown-link w-dropdown-link">Russian</a>
          <a href="#" class="dropdown-link w-dropdown-link">French</a>
          <a href="#" class="dropdown-link w-dropdown-link">Portuguese</a>
        </nav>
      </div> -->
    </nav>
    <div class="menu-button w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>

<main>
  <router-outlet></router-outlet>
</main>

<div class="progress-bar"></div>
<footer id="footer" class="footer section-2 wf-section">
  <div class="w-container">
    <div class="w-row">
      <div class="column w-col w-col-4 w-col-medium-4">
        <a href="#" class="footer-logo-link w-inline-block"><img src="assets/images/xcash_dark-dark.svg" width="169" alt="" class="footer-image"></a>
        <div class="footer-description">X-Cash is an open-source blockchain consensus designed for the Web 3.0.</div>
        <div class="text-block copyright-footer">Copyright © 2020<br>Made with <svg xmlns="http://www.w3.org/2000/svg" height="8px" viewBox="0 0 122.88 107.41" xml:space="preserve"><path d="M60.83 17.19C68.84 8.84 74.45 1.62 86.79.21c23.17-2.66 44.48 21.06 32.78 44.41-3.33 6.65-10.11 14.56-17.61 22.32-8.23 8.52-17.34 16.87-23.72 23.2l-17.4 17.26-14.38-13.84C29.16 76.9.95 55.93.02 29.95-.63 11.75 13.73.09 30.25.3c14.76.2 20.97 7.54 30.58 16.89z" fill-rule="evenodd" clip-rule="evenodd"/></svg> by the X-Cash Foundation.<br>All rights reserved.</div>
      </div>
      <div class="footer-column w-col w-col-2 w-col-medium-2">
        <div>
          <h2 class="footer-heading">PROJECT</h2>
          <ul role="list" class="w-list-unstyled">
            <li>
              <a routerLink="project" fragment="consensus" class="footer-link">Consensus</a>
            </li>
            <li>
              <a routerLink="project" fragment="technologies" class="footer-link">Technology</a>
            </li>
            <li>
              <a routerLink="project" fragment="roadmap" class="footer-link">Roadmap</a>
            </li>
            <li>
              <a routerLink="mediakit" class="footer-link">Media Kit</a>
            </li>
            <!-- <li>
              <a routerLink="get-started" class="footer-link">Get Started</a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="footer-column w-col w-col-2 w-col-medium-2">
        <div>
          <a  href="/contribute" class="footer-heading">CONTRIBUTE</a>
          <ul role="list" class="w-list-unstyled">
            <li>
              <a routerLink="/contribute" fragment="open-positions" class="footer-link">Open Positions</a>
            </li>
            <li>
              <a routerLink="/contribute" fragment="builders-program" class="footer-link">Builders Program</a>
            </li>
            <li>
              <a routerLink="/contribute" fragment="github-repo" class="footer-link">GitHub</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-column w-col w-col-2 w-col-medium-2"></div>
      <div class="footer-column w-col w-col-2 w-col-medium-2">
        <div>
          <h2 class="footer-heading">Follow</h2>
          <ul role="list" class="w-list-unstyled">
            <li>
              <a href="https://medium.com/x-cash" class="footer-link">Blog</a>
              <a href="https://discord.gg/4CAahnd" class="footer-link">Discord</a>
            </li>
            <li>
              <a href="https://twitter.com/XCashCrypto" class="footer-link">Twitter</a>
            </li>
            <li>
              <a href="https://t.me/xcashglobal" class="footer-link">Telegram</a>
            </li>
            <li>
              <a href="https://xcash.zone/" class="footer-link">中国社区网站</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<app-scroll-to-top></app-scroll-to-top>
