<div id="go-further" class="section half-height middle-centered wf-section">

  <ngx-lottie-view path="./../../../assets/documents/team_gears.json"  data-default-duration="3.4833333333333334" data-duration="0" class="background-animation team-animation">
  </ngx-lottie-view>


  <div class="w-container">
    <h1 #target1 class="h1-section">People at X-Cash</h1>

    <p style="max-width:650px;">X-Cash is a blockchain platform for changemakers, innovators, and visionaries, with the tools and technologies required to create possibility for the many, as well as the few, and bring about positive global change.<br />
      Developers, businesses, artists, and everyday users around the world are working together to build the digital flexprivacy commonwealth.
      <br/>Come join the global X-Cash community.
    <br>‍<br></p>
    <h3>What we believe in:</h3>
    <ul role="list" class="list-3" style="max-width:650px;">
      <li>We are an <strong>open-source</strong> and <strong>self-funded</strong> project that aims at <strong>building technology first</strong>.</li>
      <li>We respect opinions, ideologies and <strong>engage in constructive discussions</strong>.</li>
      <li>As contributors, <strong>we are the first ambassadors of the project</strong> and its values. Having outstanding written skills is essential to have a clear communication with people from within the community and out.</li>
    </ul>
    <p>Join us and be part of this adventure with us.</p>
    <div class="bubble-column w-row">
      <div class="info-bubble w-col w-col-4">
        <h3 class="people-title">Team</h3>
        <a pageScroll href="#team"  class="w-button scrolldwn-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
          </svg>
        </a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <h3 class="people-title">Builders</h3>
        <a pageScroll href="#contributors"  class="w-button scrolldwn-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
          </svg>
        </a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <h3 class="people-title">X-Ambas</h3>
        <a pageScroll href="#xambas"  class="w-button scrolldwn-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
          </svg>
        </a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <h3 class="people-title">Delegates</h3>
        <a pageScroll href="#delegates"  class="w-button scrolldwn-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
          </svg>
        </a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <h3 class="people-title">Communities</h3>
        <a pageScroll href="#communities"  class="w-button scrolldwn-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
          </svg>
        </a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <h3 class="people-title">Founders</h3>
        <a pageScroll href="#founders"  class="w-button scrolldwn-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
          </svg>
        </a>
      </div>
    </div>


    <!-- <div class="bubble-column w-row">
      <div class="info-bubble w-col w-col-4">
        <h3 class="bubble-title">Team</h3>
        <div class="repo-description">Lorem Ipsum</div>
        <a pageScroll href="#team"  class="w-button scrolldwn-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
          </svg>
        </a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <h3 class="bubble-title">Builders</h3>
        <div class="repo-description">Lorem Ipsum</div>
        <a pageScroll href="#contributors"  class="w-button scrolldwn-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
          </svg>
        </a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <h3 class="bubble-title">X-Ambas</h3>
        <div class="repo-description">Lorem Ipsum</div>
        <a pageScroll href="#xambas"  class="w-button scrolldwn-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
          </svg>
        </a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <h3 class="bubble-title">Delegates</h3>
        <div class="repo-description">Lorem Ipsum</div>
        <a pageScroll href="#delegates"  class="w-button scrolldwn-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
          </svg>
        </a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <h3 class="bubble-title">Communities</h3>
        <div class="repo-description">Lorem Ipsum</div>
        <a pageScroll href="#communities"  class="w-button scrolldwn-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
          </svg>
        </a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <h3 class="bubble-title">Founders</h3>
        <div class="repo-description">Lorem Ipsum</div>
        <a pageScroll href="#founders"  class="w-button scrolldwn-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
          </svg>
        </a>
      </div>
    </div> -->

  </div>
</div>


<div class="section middle-centered wf-section">
  <div class="">
    <div id="team" class="w-container">
      <h1 class="h1-section">Team</h1>
      <p class="h1-subtitles">As an open-source project, X-Cash GitHub repositories are open for public contributions. </p>
      <div class="repositories-list w-dyn-list">
        <div role="list" class="w-dyn-items w-row">

          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/zach.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Zach Hildreth</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>

          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/denis.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Denis Podlesnykh</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/lovro.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Lovro Bajc</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
        <!-- </div>
        <div role="list" class="w-dyn-items w-row"> -->
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/tatiana.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Tatiana Podlesnykh</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/caco.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Caco</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/guilhem.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Guilhem Chaumont</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/paul.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Paul Bugnot</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
            <div class="avatar-block">
              <img class="avatar" src="https://openclipart.org/image/800px/297647" alt="">
            </div>
            <div class="people-text">
              <h3 class="repo-name">miaumiau</h3>
              <div class="repo-description">Lorem Ipsum</div>
            </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/franciscom.png" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">franciscom</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/caga.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">caga "Crypto" palitos</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/avatar.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Erdo</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/Ju.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Ju</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/avatar.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Zurg</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/avatar.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Twinkie</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/avatar.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">x-$1</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/avatar.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">François</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="section middle-centered wf-section">
  <div class="">

    <div id="contributors" class="w-container">
      <h1 class="h1-section">Builders</h1>
      <p class="h1-subtitles">The X-Cash community is privileged to have committed members. These active individuals drive adoption by going above and beyond their duties by offering timely, consistent, and beneficial contributions to the project.</p>
      <div class="repositories-list w-dyn-list">

        <div role="list" class="w-dyn-items w-row">
            <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
                <div class="avatar-block">
                  <img class="avatar" src="assets/images/people/farmage.jpg" alt="">
                </div>
                <div class="people-text">
                  <h3 class="repo-name">Farmage</h3>
                  <div class="repo-description">Lorem Ipsum</div>
                </div>
            </div>
            <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
                <div class="avatar-block">
                  <img class="avatar" src="assets/images/people/avatar.jpg" alt="">
                </div>
                <div class="people-text">
                  <h3 class="repo-name">Snakeway</h3>
                  <div class="repo-description">Lorem Ipsum</div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section middle-centered wf-section">
  <div class="">

    <div id="xambas" class="w-container">
      <h1 class="h1-section">X-Ambas/XCadia's</h1>
      <p class="h1-subtitles">
The X-Cash Foundation – in line with its mission to grow the global X-Cash community – established its Ambassador Program in 2021. The flagship program is designed to promote awareness and educate the wider community to drive the adoption of X-Cash for better use cases.
         These active individuals are X-Cash Ambassadors or X-Cadia's. </p>
      <div class="repositories-list w-dyn-list">

        <div role="list" class="w-dyn-items w-row">

          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/zaffy.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Zaffy</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/avatar.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">KARDINAL</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/avatar.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Mario</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>

        <!-- </div>
        <div role="list" class="w-dyn-items w-row"> -->

          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/yurri.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Yurii</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>

          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/avatar.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">WORAWUT</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/mrmidaw.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">mr.midaw</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>

        <!-- </div>
        <div role="list" class="w-dyn-items w-row"> -->

          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/scheppy.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Scheppy</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>

          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/avatar.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">element56</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/avatar.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">MRYOSO1994</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>

        <!-- </div>
        <div role="list" class="w-dyn-items w-row"> -->

          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/avatar.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Semdrot</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>

          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/avatar.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">fulled</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/avatar.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">! executor !</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="section middle-centered wf-section">
  <div class="">

    <div id="delegates" class="w-container">
      <h1 class="h1-section">Delegates</h1>
      <p class="h1-subtitles">X-Cash is privileged to have committed delegates/node providers. </p>
      <div class="repositories-list w-dyn-list">

        <div role="list" class="w-dyn-items w-row">

          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">UrsaMajor</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">! executor !</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">alibaba</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Mario</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>

        <!-- </div>
        <div role="list" class="w-dyn-items w-row"> -->

          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">caga "Crypto" palitos</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">cajoca</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">CryptoDuke</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>

        <!-- </div>
        <div role="list" class="w-dyn-items w-row"> -->

          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Scheppy</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">element56</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">CryptoWorld</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>

        <!-- </div>
        <div role="list" class="w-dyn-items w-row"> -->

          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">farmage</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Ghalleb</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">howies</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>

          <!-- </div>
          <div role="list" class="w-dyn-items w-row"> -->

          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Hugo_DGX</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Ju</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">kacubih</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">minerjed</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">mcM</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Mantas</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">neppers</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Pullki</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">SpaceX</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="section middle-centered wf-section">
  <div class="">

    <div id="communities" class="w-container">
      <h1 class="h1-section">Communities</h1>
      <p class="h1-subtitles">World Wild Web X-Communties. Come join us and get involved!</p>
      <div class="repositories-list w-dyn-list">
        <div role="list" class="w-dyn-items w-row">

          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Discord official</h3>
                <div class="repo-description">Main meeting point, where you can talk to the dev's and get news directly</div>
                <a  href="https://discord.gg/4CAahnd"  class="button-orange w-button">
                  Join
                </a>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Telegram official</h3>
                <div class="repo-description">Lorem Ipsum</div>
                <a  href="https://t.me/xcashglobal"  class="button-orange w-button">
                  Join
                </a>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Reddit official</h3>
                <div class="repo-description">Lorem Ipsum</div>
                <a  href="https://reddit.com/r/xcash"  class="button-orange w-button">
                  Join
                </a>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Bitcointalk official</h3>
                <div class="repo-description">Lorem Ipsum</div>
                <a  href="https://bitcointalk.org/index.php?topic=4781246.1680"  class="button-orange w-button">
                  Join
                </a>
              </div>
          </div>
        </div>
        <div role="list" class="w-dyn-items w-row">
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Bahasa Telegram</h3>
                <div class="repo-description">Lorem Ipsum</div>
                <a  href="https://t.me/xcashcryptoindonesia"  class="button-orange w-button">
                  Join
                </a>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Spanish Telegram</h3>
                <div class="repo-description">Lorem Ipsum</div>
                <a  href="https://t.me/XCASH_ES"  class="button-orange w-button">
                  Join
                </a>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Portuguese Telegram</h3>
                <div class="repo-description">Lorem Ipsum</div>
                <a  href="https://t.me/XCASHPT"  class="button-orange w-button">
                  Join
                </a>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Russian Telegram</h3>
                <div class="repo-description">Lorem Ipsum</div>
                <a  href="https://t.me/xcash_rus"  class="button-orange w-button">
                  Join
                </a>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Chinese Telegram</h3>
                <div class="repo-description">Lorem Ipsum</div>
                <a  href="https://t.me/xcashglobal_cn"  class="button-orange w-button">
                  Join
                </a>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Chinese2  Telegram</h3>
                <div class="repo-description">Lorem Ipsum</div>
                <a  href="https://t.me/xcashchina"  class="button-orange w-button">
                  Join
                </a>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Chinese QQ</h3>
                <div class="repo-description">Lorem Ipsum</div>
                <a  href="https://discord.gg/4CAahnd"  class="button-orange w-button">
                  Join
                </a>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="people-text">
                <h3 class="repo-name">Chinese WeChat</h3>
                <div class="repo-description">Lorem Ipsum</div>
                <a  href="https://discord.gg/4CAahnd"  class="button-orange w-button">
                  Join
                </a>
              </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>


<div class="section middle-centered wf-section">
  <div class="">

    <div id="founders" class="w-container">
      <h1 class="h1-section">Founders</h1>
      <p class="h1-subtitles">As an open-source project, X-Cash GitHub repositories are open for public contributions. </p>
      <div class="repositories-list w-dyn-list">
        <div role="list" class="w-dyn-items w-row">

          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/zach.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Zach Hildreth</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>

          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/guilhem.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Guilhem Chaumont</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
              <div class="avatar-block">
                <img class="avatar" src="assets/images/people/paul.jpg" alt="">
              </div>
              <div class="people-text">
                <h3 class="repo-name">Paul Bugnot</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
