

<div class="section middle-centered wf-section">
  <div id="github-repo" class="section section-white wf-section">
    <div id="team" class="w-container">
      <h1 class="h1-section">Team</h1>
      <p class="h1-subtitles">As an open-source project, X-Cash GitHub repositories are open for public contributions. </p>
      <div class="repositories-list w-dyn-list">
        <div role="list" class="w-dyn-items w-row">

          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/zach.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">Zach Hildreth</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>

          </div>
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/denis.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">Denis Podlesnykh</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/lovro.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">Lovro Bajc</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
        </div>
        <div role="list" class="w-dyn-items w-row">
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/tatiana.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">Tatiana Podlesnykh</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/caco.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">Caco</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section middle-centered wf-section">
  <div id="github-repo" class="section section-white wf-section">

    <div id="contributors" class="w-container">
      <h1 class="h1-section">Contributors</h1>
      <p class="h1-subtitles">As an open-source project, X-Cash GitHub repositories are open for public contributions. </p>
      <div class="repositories-list w-dyn-list">

        <div role="list" class="w-dyn-items w-row">
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/avatar.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">franciscom</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>

          </div>
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/avatar.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">caga "Crypto" palitos</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/avatar.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">Erdo</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
        </div>

        <div role="list" class="w-dyn-items w-row">
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/avatar.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">Ju</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>

          </div>
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/avatar.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">Mehti</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/avatar.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">Twinkie</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
        </div>

        <div role="list" class="w-dyn-items w-row">
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/avatar.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">x-$1</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>

          </div>
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/avatar.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">Mehti</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/avatar.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">François</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="section middle-centered wf-section">
  <div id="github-repo" class="section section-white wf-section">

    <div id="founders" class="w-container">
      <h1 class="h1-section">Founders</h1>
      <p class="h1-subtitles">As an open-source project, X-Cash GitHub repositories are open for public contributions. </p>
      <div class="repositories-list w-dyn-list">
        <div role="list" class="w-dyn-items w-row">

          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/zach.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">Zach Hildreth</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>

          </div>
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/guilhem.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">Guilhem Chaumont</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>
          <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
              <div class="div-block">
                <img src="assets/images/people/paul.jpg" alt="" width="150px" height="180px">
              </div>
              <div>
                <h3 class="repo-name">Paul Bugnot</h3>
                <div class="repo-description">Lorem Ipsum</div>
              </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
