<div id="use-xcash" class="section full-height middle-centered black wf-section ">

  <ngx-lottie-view path="./../../../assets/documents/atm_dark_nogrid.json" data-default-duration="4.4" data-duration="0" class="background-animation style-atm">  </ngx-lottie-view>

  <div class="w-container dpops-scale-and-positioning-for-small-screens">
    <h1 class="h1-section orange">Your journey starts here</h1>
    <p class="h1-subtitles reduced-width">
      Once you have started on your journey with us, you'll find more opportunities than we can list here.<br>As an open-source project, the community's contributions are what moves things forward.<br>
    </p>
    <p class="h1-subtitles reduced-width">
      <!--<span class="bg-dark"><strong class="orange">X-Payment<br></strong>A payment solution that can be instantaneously integrated on any Discord server. Send some XCASH over there, participate in the discussions and easily send funds to anyone on the same server.</span>
      <br><br>-->
      <!--<span class="bg-dark"><strong class="orange">Vote and earn XCASH<br></strong>The X-Cash Network is governed by delegates elected by the community. You can use your XCASH to vote for a delegate, and be retributed for your stake.</span>
      <br><br>-->
      <span class="bg-dark"><strong class="orange">Contribute to the project<br></strong>The X-Cash Foundation is running several bounty programs and sponsoring for small to big projects relating to the X-Cash ecosystem. You can participate in the development, be an integral part of the project and earn a reward for doing so..</span><br><br>
      <span class="bg-dark"><strong class="orange">Join the Community Weekly Voice Event...<br></strong>And have your say on the direction of the project, or show what you've been working on, every Wednesday at 7pm UTC+2 on Discord.</span><br><br>
      <span class="bg-dark"><strong class="orange">Become a delegate</strong><br>The X-Cash blockchain is governed by elected delegates securing the network. Providing people vote for you, or that you have enough XCASH to get you elected, you can also become an elected delegate and start forging blocks.</span><br>
    </p>
    <div class="horizontal-button-container">
      <div class="horizontal-button-container">
        <a routerLink="contribute" fragment="contribute" class="button-black inverse button-1 w-button">Contribute</a>
        <a href="https://docs.xcash.foundation/dpops/get-started" class="button-black inverse button-1 on-black w-button">Become a Delegate</a>
        <a href="https://docs.xcash.foundation/dpops/vote-and-staking" class="button-black inverse button-1 w-button">Stake your XCASH</a>
        <a href="https://discord.gg/4CAahnd" class="button-black inverse button-1 w-button">&nbsp;&nbsp; Discord  &nbsp;&nbsp;</a>
      </div>
    </div>
  </div>
</div>
