<div id="key-technologies" class="section full-height middle-centered black wf-section margin-bottom">
    <div class="w-container scale-for-screen-sizes"><br>
      <h1 class="h1-section orange">Key Features</h1>
      <h2 class="h2-section scale-this-text">An open-source project building the final stage of the internet.</h2>
      <p class="h1-subtitles scale-these-subtitles unbolden-text">Born from Monero's codebase in 2018, X-Cash has evolved Monero to ensure it always stays at the front of web technology.
     To modernize Monero, the following technological pillars were built upon:
      </p><div class="shrink-all-for-mobile">
            <div class="repositories-list w-dyn-list key-features-move-left">
              <div role="list" class="w-dyn-items w-row">

                <div role="listitem" class="people-container w-dyn-item w-col w-col-4">
                  <div class="avatar-block">
                    <ngx-lottie-view path="./../../../assets/documents/card_dark.json" class="lottie-shrink lottie-border" data-default-duration="1.1833333333333333" data-duration="5" ></ngx-lottie-view>
                  </div>
                  <div class="people-text">
                    <h3 class="repo-name">Public/Private Txs</h3>
                    <div class="repo-description">Stay in control, like cash.</div>
                    <a pageScroll href="#flexprivacy"  class="button-discover w-button">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
                        <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                      </svg>
                    </a>
                  </div>
                </div>
                <div role="listitem" class="people-container w-dyn-item w-col w-col-4">
                    <div class="avatar-block">
                      <ngx-lottie-view path="./../../../assets/documents/vote_dark.json" class="lottie-shrink" data-default-duration="3.15" data-duration="0">
                      </ngx-lottie-view>
                    </div>
                    <div class="people-text">
                      <h3 class="repo-name">Private DPOS</h3>
                      <div class="repo-description">DPOS & CryptoNote</div>
                      <a pageScroll href="#dpops"  class="button-discover w-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
                          <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                        </svg>
                      </a>
                    </div>
                </div>
                <div role="listitem" class="people-container w-dyn-item w-col w-col-4">
                    <div class="avatar-block">
                      <ngx-lottie-view path="./../../../assets/documents/data_dark.json" class="lottie-shrink" data-default-duration="1.1833333333333333" data-duration="5">
                      </ngx-lottie-view>
                    </div>
                    <div class="people-text">
                      <h3 class="repo-name">DSidechains</h3>
                      <div class="repo-description">Safe, scalable & decentral </div>
                      <a pageScroll href="#sidechains"  class="button-discover w-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
                          <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                        </svg>
                      </a>
                    </div>
                </div>
              </div>
              <div role="list" class="w-dyn-items w-row">
                <div role="listitem" class="people-container w-dyn-item w-col w-col-4">
                    <div class="avatar-block">
                      <p class="swap-image-namespace"></p>
                    </div>
                    <div class="people-text">
                      <h3 class="repo-name">Namespace</h3>
                      <div class="repo-description">Public TX gets personal</div>
                        <a pageScroll href="#namespace"  class="button-discover w-button">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
                            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                          </svg>
                        </a>
                    </div>
                </div>
                <div role="listitem" class="people-container w-dyn-item w-col w-col-4">
                    <div class="avatar-block">
                      <ngx-lottie-view path="./../../../assets/documents/leaf-14.json"  data-default-duration="3.4833333333333334" data-duration="0" class="lottie-shrink">
                      </ngx-lottie-view>
                    </div>
                    <div class="people-text">
                      <h3 class="repo-name">Eco-X</h3>
                      <div class="repo-description">Energy-efficient & Sustainable</div>
                        <a pageScroll href="#xgreen"  class="button-discover w-button">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
                            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                          </svg>
                        </a>
                    </div>
                </div>

                <div role="listitem" class="people-container w-dyn-item w-col w-col-4 ">
                  <div class="avatar-block">
                    <p class="swap-image-stake-head"></p>
                  </div>
                  <div class="people-text ">
                    <h3 class="repo-name ">Private Stake</h3>
                    <div class="repo-description">Earn XCASH with privacy</div>
                      <a pageScroll href="#xgreen"  class="button-discover w-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange ">
                          <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                        </svg>
                      </a>
                  </div>
              </div>
            </div>
              </div>
            </div>
    </div>
</div>
