.section {
  border-bottom: 2px dotted #ff6d00;
}
.h2-section{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.avatar-block{
  margin-bottom: 15px;
	text-align: center;
}
.avatar{
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #ff6d00;
	text-align: center;
}
.people-container {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
  padding-bottom: 30px;
  text-align: center;
}
.people-text {
  text-align: center;
  margin-top: 1rem;
}
