<div id="key-technologies" class="section full-height middle-centered black wf-section margin-bottom ">
    <div class="w-container scale-for-screen-sizes ">
      <h1 class="h1-section orange">Key Features</h1>
      <h2 class="h2-section scale-this-text">X-Cash is an open-source community project, built with a security-first modular design philosophy.</h2>
      <p class="h1-subtitles scale-these-subtitles ">
      Born from Monero's codebase in 2018, the X-Cash blockchain has evolved to bring new features to the private cryptocurrency space.<br/>
      <br>To modernise Monero for the Web3, the following technological pillars were built upon:
      </p>
            <div class="repositories-list w-dyn-list key-features-move-left">
              <div role="list" class="w-dyn-items w-row">

                <div role="listitem" class="people-container w-dyn-item w-col w-col-4">
                  <div class="avatar-block">
                    <img class="border-radius-orange" src="/assets/images/circle_grid_lock.svg">
                  </div>
                  <div class="people-text">
                    <h3 class="repo-name">Public/Private Txs</h3>
                    <div class="repo-description">Like cash, you retain control.</div>
                    <a pageScroll href="#flexprivacy"  class="button-discover w-button">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
                        <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                      </svg>
                    </a>
                  </div>
                </div>
                <div role="listitem" class="people-container w-dyn-item w-col w-col-4">
                    <div class="avatar-block">
                      <img class="border-radius-orange" src="/assets/images/circle_grid_vote.svg">
                    </div>
                    <div class="people-text">
                      <h3 class="repo-name">Private DPOS</h3>
                      <div class="repo-description">Rethinking DPOS with an optimised CryptoNote</div>
                      <a pageScroll href="#dpops"  class="button-discover w-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
                          <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                        </svg>
                      </a>
                    </div>
                </div>
                <div role="listitem" class="people-container w-dyn-item w-col w-col-4">
                    <div class="avatar-block">
                      <img class="border-radius-orange" src="/assets/images/circle_grid_data.svg">
                    </div>
                    <div class="people-text">
                      <h3 class="repo-name">D-Sidechains</h3>
                      <div class="repo-description">Decentralized, expansive, & secure </div>
                      <a pageScroll href="#sidechains"  class="button-discover w-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
                          <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                        </svg>
                      </a>
                    </div>
                </div>
              </div>
              <div role="list" class="w-dyn-items w-row">
                <div role="listitem" class="people-container w-dyn-item w-col w-col-4">
                    <div class="avatar-block">
                      <img class="border-radius-orange" src="/assets/images/namespace.svg">
                    </div>
                    <div class="people-text">
                      <h3 class="repo-name">Public TX 2.0 (Namespace)</h3>
                      <div class="repo-description">Public Unique Identification</div>
                        <a pageScroll href="#namespace"  class="button-discover w-button">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
                            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                          </svg>
                        </a>
                    </div>
                </div>
                <div role="listitem" class="people-container w-dyn-item w-col w-col-4">
                    <div class="avatar-block">
                      <img class="border-radius-orange" src="/assets/images/circle_grid_leaf.svg">
                    </div>
                    <div class="people-text">
                      <h3 class="repo-name">Eco-X</h3>
                      <div class="repo-description">Energy-efficient & Sustainable</div>
                        <a pageScroll href="#xgreen"  class="button-discover w-button">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
                            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                          </svg>
                        </a>
                    </div>
                </div>

                <div role="listitem" class="people-container w-dyn-item w-col w-col-4 ">
                  <div class="avatar-block">
                    <img class="border-radius-orange " src="/assets/images/stake.svg">
                  </div>

                  <div class="people-text ">
                    <h3 class="repo-name ">Private Stake</h3>
                    <div class="repo-description">Earn XCASH with privacy</div>
                      <a pageScroll href="#xgreen"  class="button-discover w-button  ">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange ">
                          <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                        </svg>
                      </a>
                  </div>
              </div>

              </div>
            </div>
    </div>
</div>
