.landing-block {
	display: flex;
	/* min-height: 100px; */
  /* margin-right: 10px;
	margin-bottom: 20px;
  margin-top: 20px;
	margin-left: 10px; */

	padding: 20px;
	flex-direction: column;
	justify-content: space-around;
	border-style: solid;
	border-width: 1px;

	transition: all 200ms ease;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
.landing-block.orange {
	border-color: #ff6d00;
}


.landing-block h3 {
  margin: 0;
}
.button-dark {
  /* background-color: #1f; */
  margin-right: 40px;
  margin-top: 20px;
  text-align: center;
}
.button-dark:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #1f1f1f;
  color: #1f1f1f;
  background-color: #fff;
}
#exchanges h3{
  width: 100%;
  text-align: center;
}
