.section-dark {
	background-color: #1f1f1f;
	color: #fff;
	z-index: -2;
}
.col-black{
	color: #1f1f1f;
}



.landing-block {
	display: flex;
	/* min-height: 100px; */
  /* margin-right: 10px;
	margin-bottom: 20px;
  margin-top: 20px;
	margin-left: 10px; */
	padding: 20px;
	flex-direction: column;
	justify-content: space-around;
	border-style: solid;
	border-width: 1px;
	transition: all 200ms ease;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
.landing-block.orange {
	border-color: #ff6d00;
}
.landing-block h3 {
  margin: 0;
}
.button-1 {
  margin-right: 32px;
  margin-top: 16px;
  text-align: center;
}
.button-dark {
	border-color: #ff6d00;
}
.button-dark:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #1f1f1f;
  color: #1f1f1f;
  background-color: rgb(231, 255, 17);
}
.button-discover {
	border-width: 0px;
	border-color: #1f1f1f;
	background-color: transparent;
}
.button-discover:hover {
  border-style: solid;
  border-width: 0px;
  border-color: #ff6d00;
  color: #1f1f1f;
  /* background-color: #1f1f1f; */
	background-color: transparent;
	-webkit-transform: scale(1.02);
	-ms-transform: scale(1.02);
	transform: scale(1.06);
}
.button-green {
  background-color: #7CB518;
	border-color: #7CB518;
}
.button-green:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #7CB518;
  color: #7CB518;
  background-color: #fff;
}
.button-xbank {
  background-color: #F7BF23;
  border-color: #F7BF23;
}
.button-xbank:hover {
  background-color: #fff;
  border-color: #F7BF23;
  color: #F7BF23;
}
.button-xpay {
  background-color: #56B786;
  border-color: #56B786;
}
.button-xpay:hover {
  background-color: #fff;
  border-color: #56B786;
  color: #56B786;
}
.button-teal {
  background-color: #1189A5;
  border-color: #1189A5;
}
.button-teal:hover {
  background-color: #fff;
  border-color: #1189A5;
  color: #1189A5;
}
.button-wxcash {
  background-color: #8C52FF;
  border-color: #8C52FF;
}
.button-wxcash:hover {
  background-color: #fff;
  border-color: #8C52FF;
  color: #8C52FF;
}


#exchanges h3{
  width: 100%;
  text-align: center;
}

.list-2{
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: bold;
  list-style: none;
}

ul.list-2 > li::before{
	content: "■";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: #ff6d00; /* Change the color */
	font-weight: bold; /* If you want it to be bold */
	display: inline-block;
	width: 1em;
	margin-left: -1.5em;
	PADDING-bottom: 0.6em;
}
.consensus-item {
    list-style-type: none;
}
ul.list-2 > li{
  padding: 8.5px;

}
ul.list-2 > li > span{
  padding-left: 10px;

}
.list-2-small-txt{
	font-size: 1rem;
	line-height: 1rem;
	font-weight: bold;
	list-style: none;


  }

  ul.list-2-small-txt > li::before{
	  content: "■ ";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	  color: #ff6d00; /* Change the color */
	  font-weight: bold; /* If you want it to be bold */
	  display: inline-block;
	  width: 1em;
	  margin-left: -1em;
  }

  ul.list-2-small-txt > li{
	padding: 8.5px;

  }

#landingbox.section {
    overflow: hidden;
    /* padding-top: 60px;
    padding-bottom: 80px; */
    background-color: transparent;
    object-fit: fill;
		background-color: #1f1f1f;
		position: relative;
}

#listbox.section {
  overflow: hidden;
  /* padding-top: 60px;
  padding-bottom: 80px; */
  background-color: transparent;
  object-fit: fill;
  background-color: #1f1f1f;
  position: relative;
}

.landing-animation {
    left: 36%;
    top: 215px;
    right: 0;
    bottom: 0;
    width: 65%;
		background-color: #1f1f1f;
}
.background-animation.dark {
	left: auto;
	top: 10%;
	right: 0%;
	bottom: auto;
	background-color: #1f1f1f;
}
.avatar-block{
  margin-bottom: 15px;
	text-align: center;
}
.avatar{
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #ff6d00;
	text-align: center;
}
.people-container {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
  padding-bottom: 30px;
  text-align: center;
}
.people-text {
  text-align: center;
}
.section {
	border-bottom: 2px dotted #ff6d00;
}
.metrics-container {
	background-color: #1f1f1f;
}


/* global for all width's */

.landing-headline  > h1 {
	padding-top:0px;
	padding-bottom:30px;
	font-size: 4.8em;
}
.landing-headline  > h2 {
	font-size: 1.2em;
}

.landing-teaser{

}


/* specific for mobiles */
@media screen and (max-width: 991px) {
	.pos-boysit{

		position:fixed;
		orientation: left;

		width: auto;

	}
	.landing-animation {
			left: auto;
	    top: auto;
	    right: 0;
	    bottom: 0;
	    width: 80%;
		}
		.center, .center2{
			left: auto;
		}
		.landing-headline > h1,
		.landing-headline > h2  {
			width: 100%;
		}
		.landing-headline > h1 {
			font-size: 3em;
		}
		.landing-headline > h2 {
			font-size: 1.4em;
		}
}

@media screen and (max-width: 767px) {
	.pos-boysit{

		position:fixed;
				orientation: left;

				width: auto;

	}
	.landing-animation {
			left: auto;
	    top: auto;
	    right: 0;
	    bottom: 0;
	    width: 100%;
		}
		.center, .center2{
			left: auto;
		}
		.landing-headline > h1,
    .landing-headline > h2  {
			width: 100%;
		}
    #scroll-arrow-button{
      position:relative; left:15px; top:0
    }
		.landing-headline > h1 {
			font-size: 2.8em;
		}
		.landing-headline > h2 {
			font-size: 1.4em;
		}

}

.pos-move-right{
	position:relative; left:61px;
}

.pos-move-right-bc{
	position:relative; left:33px;
}

.pos-move-right-cml{
	position:relative; left:38px;
}

.pos-move-right-wxcash-exchange{
	position:relative; left:60px;
}

.change-font{
	color: #fa741c;
}

@media screen and (max-width: 479px) {
	.landing-animation {
			left: 0%;
	    top: auto;
	    right: 0;
	    bottom: 0;
	    width: 100%;
		}
		.center, .center2{
			left: auto;
		}
		.landing-headline > h1,
		.landing-headline > h2  {
			width: 100%;
		}
		.pos-boysit{



				position:fixed;
				orientation: left;

				width: auto;

		}
    #scroll-arrow-button{
      position:relative; left:0px; top:10
    }
		.landing-headline > h1 {
			font-size: 2.8em;
		}
		.landing-headline > h2 {
			font-size: 1.4em;
		}
}


.pos-logo-list{
	position:relative; top:-50%;left:-27.2%;
	
	width:43%; height:auto;
	margin: 1.9%;
	
}

.leaf-svg-enlarge{
	width:25%;height:auto;
	position:relative; left:2%
}

.pos-logo-metrics{

	
	width:43%; height:auto; position: relative; left:-3%;
	margin: 3%;
}

.large-text{
	font-size: 2.9rem;
	font-weight: bolder;
	color: white;
	position:relative;left:-29%; top:10%;
	padding: top;
	margin: 0%;
	
	border:10
}

.margin-gc{
	position:relative;left:-2%;
	margin:2.5%;
	width:96%;
}

.margin-ecox{
	margin:-1.3%;
}

.pos-eco{
	position:relative;left: 1.2%;
}

.wallet-style{
	position:relative;left:40%; top:0%;
	width: 35%;
	margin:0%;
	float:right
}

@media screen and (max-width: 301px) {
	.landing-animation {
			left: 0%;
	    top: auto;
	    right: 0;
	    bottom: 0;
	    width: 100%;
		}
	.pos-boysit{
		position:relative;
		orientation: left;

	    width: auto;


		}

		.leaf-svg-enlarge{
			width:100%;height:auto;
			position:relative; left:-3%;
			margin:3%
		}


		.center, .center2{
			left: auto;
		}
		.landing-headline > h1,
		.landing-headline > h2  {
			width: 100%;
		}
    #scroll-arrow-button{
      position:relative; left:17px; top:10
    }
		.landing-headline > h1 {
			font-size: 2.8em;
		}
		.landing-headline > h2 {
			font-size: 1.4em;
		}
}

/* .an-2 {
  display: none;
  opacity: hidden;
} */

.enlarge-xx{

	font-size: 2.4em;
}

#desktop-scroll-arrow-button{
	position:relative; left:17px; top:10
  }

.enlarge-x{

	font-size: x-large;

}

.large{

	font-size: large;

}

.list-align-left{

	/* position:relative; left:-260px; top:-20; */
	text-align: left;
	margin-bottom: 2rem;

}

.underline{
	text-decoration: underline; color: #ff6d00;

}
.slidingHorizontal {
	display: inline;
	text-indent: 8px;
}
.slidingHorizontal span{
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

.computing-text-align{

	position:relative; left:270px; top:0;

}

.pos-heading{

	position:relative; left:-130px; top:0;

}

.pos-votebox{

	position:relative; left:22px; top:0;

}

.pos-abs{

	position:absolute; left:28px; top:0;

}

.pos-abs-move{

	position:absolute; left:-35px; top:-48px;

}

.pos-abs-green{

	position:absolute; left:23px; top:0;

}

.pos-down{

	position:absolute; left:36px; top:219;

}

.pos-leaf{

	position:absolute; left:-11px; top:-7;

}

.pos-leaf-text{

	position:absolute; left:26px; top:215;

}

.pos-woman-svg{

	position:absolute; right:0%; bottom: -10%;
	/* width: 1400px;
	height: 1600px; */

}

.asterix-hide{
	color:#1f1f1f

}

.actua-pos{
	position:absolute; left:1260px; top:70;
	width:1200px;
	height:auto
}
.pos-usethem{
	position:absolute; left:1100px; top:-80;
	width:1650px;
	height:auto
}
.pos-rocket{
	position:absolute; left:600px; top:0;
	width:1670px;
	height:auto
}

.pos-xgreen{
	position:absolute; left:20px; top:15;

}
.pos-boysit{
	position:absolute;
	/* left:-21%; top:-9%; */
	left: 50%;
	bottom: 0%;
	width:1200px;
}
.pos-boysit2{
	position:absolute; left:-5000px; top:-1820px;
	width:auto;
	height:5000px
}
/* .pos-wholebox{
	position:relative; top:45px;
} */

.pos-provides{
	position:absolute; left:1200px; top:-60px;
}
@media screen and (max-width: 1300px) {
	.pos-boysit{

		position:absolute;
		/* orientation: left; */
		left: 25%;
		bottom: 20%;
		/* width: auto; */
		width:1500px;

	}
	.pos-provides{
		display: none;
	}
}

.move-bubble{
	position:absolute;top:416px;left: 1480px;
	width: 370px
}

.move-bubble-section{
	position:absolute;top:371px;left:400px;

}

.pos-goFurther{
	/* position:absolute;top:230px; left:950px */

}

.discord-resize{
	width:100px
}
@media screen and (max-width: 479px) {
	.list-2 {
	  font-size: 1rem;
	  line-height: 1.2rem;
	  font-weight: bold;
	  list-style: none;
		padding-left: 20px;
	}
}
