  <div (mouseover)="initalizeMethod2()">

  <app-landing></app-landing>

  <app-landing-art class="blur-it-all"></app-landing-art>

  <div (mouseover)="initalizeMethod()">

  <app-feature-list class="blur-it-all"></app-feature-list>

  <app-key-features class="blur-it-all"></app-key-features>

  <app-hybrid-tx class="blur-it-all"></app-hybrid-tx>

  <app-dpops class="blur-it-all"></app-dpops>

  <app-sidechains class="blur-it-all"></app-sidechains>

  <app-namespace class="blur-it-all"></app-namespace>

  <app-ecox class="blur-it-all"></app-ecox>

  <app-stake class="blur-it-all"></app-stake>

  <app-xpayment class="blur-it-all"></app-xpayment>

  <app-xbank class="blur-it-all"></app-xbank>

  <app-wxcash class="blur-it-all"></app-wxcash>

  <app-xpy class="blur-it-all"></app-xpy>

  <app-foundation class="blur-it-all"></app-foundation>

  <app-usexcash class="blur-it-all"></app-usexcash>

  <app-xdex class="blur-it-all"></app-xdex>

  <app-metrics class="blur-it-all"></app-metrics>

  <app-partners class="blur-it-all"></app-partners>

  <div mouseover="rocket_flag">

  <ngx-lottie-view [ngClass]="rocket_flag ? 'rocket-animation-style' : ''" path="assets/documents/rocket3.json" class="rocket-animation-onscroll" data-default-duration="1.1833333333333333" data-duration="5">
  </ngx-lottie-view>
</div>
  <app-discover class="blur-it-all "></app-discover>

