

<div (mouseover)="open() ">

  <app-landing></app-landing>

  <app-landing-art></app-landing-art>

  <app-feature-list></app-feature-list>

  <app-key-features></app-key-features> <!--orange-->

  <app-hybrid-tx></app-hybrid-tx>

  <app-dpops></app-dpops> <!--orange-->

  <app-sidechains></app-sidechains>

  <app-namespace></app-namespace>

  <app-ecox></app-ecox> <!--orange-->

  <app-stake></app-stake>

  <app-xbank></app-xbank> <!--orange-->

  <app-wxcash></app-wxcash>

  <app-xpayment></app-xpayment> <!--orange-->

  <app-metrics></app-metrics> 

  <app-xdex></app-xdex> <!--orange-->

  <app-foundation></app-foundation>

  <app-partners></app-partners>

  <!-- <app-get-started></app-get-started> -->

  <app-usexcash></app-usexcash>





<app-discover></app-discover>
