
<div id="landingbox" class="section half-height middle-centered black wf-section">
  <ngx-lottie-view path="./../../../assets/documents/jumbotron_dark_nogrid_nodownman_colors.json" class="background-animation landing-animation" data-default-duration="4.183333333333334" data-duration="0"  style="z-index: 0;">
  </ngx-lottie-view>


  <div class="w-container">

    <div class="w-col w-col-12 landing-headline ">

      <h1 class="orange  ">
        Welcome to Web3’s <br>
        <div class="pos-heading">
        <div class="slidingHorizontal ">
          <span class="teal">Private </span><span class="orange"><bdi class="asterix-hide">*</bdi>Public </span>
        </div>
        <span class="xbank an-1 computing-text-align ">Computing </span> <span class="teal computing-text-align ">Platform</span>
      </div>
      </h1>
      <!--h3 class="an-1">I am looking great.</h3>-->
      <div class="">
        <h2 class=""><span class="orange ">X</span>CASH is fuel for transaction diversity on the blockchain<br></h2>
      <!--<h2>Anyone can build “on” X-Cash</h2>-->
      </div>
    </div>
    <div class="w-col w-col-12 landing-headline " >
      <a href="#overview" id="scroll-arrow-button" class="landing-block w-inline-block button-dark button-discover inverse button-1 w-button inline-link" >
        <h3 class="orange"><span class="bg-dark">Discover X-Cash</span></h3>
        <h3>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
          </svg>
        </h3>
      </a>
    </div>
  </div>
</div>

 
<div id="landingbox" class="section half-height middle-centered black wf-section  ">
  <ngx-lottie-view path="./../../../assets/documents/boysit_dark_nogrid.json " class="pos-boysit" data-default-duration="4.183333333333334" data-duration="0" >
  </ngx-lottie-view>
 


  <div class="w-container ">
    <div class="w-col w-col-12 enlarge-xx pos-wholebox">
      <h2><span class="orange bg-dark"></span><span class="bg-dark">You, <span class="teal">Conscious</span><span class="xbank"> One</span>, deserve<span class="orange"> Privacy </span></span></h2>
    </div>
    <div class="w-col w-col-6">

    </div>

  </div>
</div>


<div id="listbox" class="section half-height middle-centered black wf-section">
  <ngx-lottie-view path="./../../../assets/documents/dev_dark_nogrid.json" class="background-animation smallest-animation pos-provides" data-default-duration="4.183333333333334" data-duration="0"  style="z-index: -2;">
  </ngx-lottie-view>

<div class="w-container ">
  <div class="w-col w-col-12 text-center enlarge-x">
    <h2 class="list-align-left "><span class="orange bg-dark">X</span><span class="bg-dark">-Cash provides:</span></h2>
  </div>
  <div role="listitem" class="w-col w-col-6 ">
    <ul role="list" class="list-2">
      <li><span class="bg-dark">Private/Public choice</span></li>
      <li><span class="bg-dark">Decentralized, anonymous, & fair governance</span></li>
      <li><span class="bg-dark">Dynamic block sizes (Breathing Blocks)</span></li>
      <li><span class="bg-dark">Decentralized database</span></li>
      <li><span class="bg-dark">Decentralized layer 2s</span></li>
      <li><span class="bg-dark">Multi-language Smart contracts</span></li>
      <li><span class="bg-dark">Cross-chain interoperability</span></li>
      <li><span class="bg-dark">String CTs</span></li>
    </ul>
  </div>
  <div role="listitem" class="w-col w-col-6">
    <ul role="list" class="list-2 ">
      <li><span class="bg-dark">Python library</span></li>
      <li><span class="bg-dark">JS library</span></li>
      <li><span class="bg-dark">dAPPS & NFTs</span></li>
      <li><span class="bg-dark">X-DEX</span></li>
      <li><span class="bg-dark">Instant payments</span></li>
      <li><span class="bg-dark">anonymous voting protocol</span></li>
      <li><span class="bg-dark">Social account tipping & Merchant system</span></li>
    </ul>
  </div>
</div>
</div>



<div id="metrics" class="section half-height middle-centered black wf-section">
  <ngx-lottie-view path="./../../../assets/documents/womanchart_dark_nogrid.json" class="background-animation smallest-animation pos-woman-svg" data-default-duration="4.183333333333334" data-duration="0"  style="z-index: -2;">
  </ngx-lottie-view>
  <div class="w-container">
    <h1><span class="orange">X</span>CASH Metrics</h1>
    <p class="h1-subtitles"><span class="bg-dark">XCASH is the native currency used for governance, sidechains, and smart contracts.<br /> Our blockchain is capable of effectively powering any product and service you design to run on our network.
    </span></p>
    <div class="w-row">
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Algorithm</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">{{blockchain_algorithm}}</div>
          </div>
        </div>
      </div>
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Block Height</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">{{block_height | number}}</div>
          </div>
        </div>
      </div>
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Block Time</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">5 Minutes</div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-row mt-20">
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Current Block Reward</h4>
          <div class="metrics-data-container">
            <div id="dataprice" class="metrics-currency-xcash">{{ block_reward | number }}</div>
          </div>
        </div>
      </div>
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Maximum Supply</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">100,000,000,000</div>
          </div>
        </div>
      </div>
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Generated Supply</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">{{generated_supply | number}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-row mt-20">
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Circulating Supply</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">{{circulating_supply | number}}</div>
          </div>
        </div>
      </div>
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Total Private Transactions</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">{{private_tx_count | number}}</div>
          </div>
        </div>
      </div>
      <div class="metrics-column w-col w-col-4">
        <div class="metrics-container">
          <h4>Total Public Transactions</h4>
          <div class="metrics-data-container">
            <div class="metrics-currency-xcash">{{public_tx_count | number}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- <a href="https://coinmarketcap.com/currencies/x-cash/" class="button-orange inverse button-1 w-button">Coinmarketcap</a>
    <a href="https://www.coingecko.com/en/coins/x-cash" class="button-orange inverse button-1 w-button">Coingecko</a>
    <a href="https://nomics.com/assets/xcashpos-x-cash-polygon" class="button-orange inverse button-1 w-button">Nomics</a> -->
  </div>
</div>



<div id="key-technologies" class="section half-height middle-centered black wf-section">
    <div class="w-container">
        <h1 class="h1-section">Key Features</h1>
         <h2>X-Cash is a developer-friendly open source project, with an energy-efficent blockchain built with a security-first & modularly upgradable design philosophy.</h2>
        <p class="h1-subtitles">Born from Monero's codebase in 2018, the X-Cash blockchain has evolved to bring new features to the private cryptocurrency space. 
          To modernise Monero for the Web3, the following technological pillars were built upon:</p>

            <div class="repositories-list w-dyn-list">
              <div role="list" class="w-dyn-items w-row">

                <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
                    <div class="avatar-block ">
                      <ngx-lottie-view  path="./../../../assets/documents/lock_dark_nogrid_norectangle.json" class="round-animation pos-abs-move" data-default-duration="1.1833333333333333" data-duration="5" style="width:300px; height:300px">
                      </ngx-lottie-view>
                      <ngx-lottie-view  path="./../../../assets/documents/circlelayer.json" class="round-animation pos-abs" data-default-duration="1.1833333333333333" data-duration="5" style="width:200px; height:200px">
                      </ngx-lottie-view>
                      <ngx-lottie-view  path="./../../../assets/documents/gridlayer.json" class="round-animation pos-abs" data-default-duration="1.1833333333333333" data-duration="5" style="width:200px; height:200px">
                      </ngx-lottie-view>
                    </div>
                    <div class="people-text pos-down">
                      <h3 class="repo-name">Public/Private Txs</h3>
                      <div class="repo-description">Like cash, you retain control.</div>
                      <a pageScroll href="#xgreen"  class="button-discover w-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
                          <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                        </svg>
                      </a>
                    </div>

                </div>
                <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
                    <div class="avatar-block">
                      <ngx-lottie-view path="./../../../assets/documents/vote_dark.json" class="round-animation pos-votebox" data-default-duration="1.1833333333333333" data-duration="5" style="width:200px; height:200px">
                      </ngx-lottie-view>
                      
                    </div>
                    <div class="people-text">
                      <h3 class="repo-name">Private DPOS</h3>
                      <div class="repo-description">Rethinking Delegated Proof of Stake with an optimised CryptoNote</div>
                      <a pageScroll href="#xgreen"  class="button-discover w-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
                          <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                        </svg>
                      </a>
                    </div>
                </div>
                <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
                    <div class="avatar-block">
                      <ngx-lottie-view path="./../../../assets/documents/data_dark.json" class="round-animation" data-default-duration="3.15" data-duration="0" style="width:250px; height:200px">
                      </ngx-lottie-view>
                    </div>
                    <div class="people-text">
                      <h3 class="repo-name">Decentralized Sidechains</h3>
                      <div class="repo-description">Expansive and with Supercharged security </div>
                      <a pageScroll href="#sidechains"  class="button-discover w-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
                          <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                        </svg>
                      </a>
                    </div>
                </div>
                <div role="listitem" class="people-container w-dyn-item w-col w-col-3">
                  <a pageScroll href="#xgreen">
                    <div class="avatar-block">
                      <ngx-lottie-view path="./../../../assets/documents/xleafv3.json" class="round-animation pos-leaf" data-default-duration="3.15" data-duration="0" style="width:270px; height:225px">
                      </ngx-lottie-view>
                      <ngx-lottie-view  path="./../../../assets/documents/circlelayer.json" class="round-animation pos-abs-green" data-default-duration="1.1833333333333333" data-duration="5" style="width:200px; height:200px">
                      </ngx-lottie-view>
                      <ngx-lottie-view  path="./../../../assets/documents/gridlayer.json" class="round-animation pos-abs-green" data-default-duration="1.1833333333333333" data-duration="5" style="width:200px; height:200px">
                      </ngx-lottie-view>
                    </div>
                  </a>
                    <div class="people-text pos-leaf-text ">
                      <h3 class="repo-name">X-Green</h3>
                      <div class="repo-description">Energy-efficient & Sustainable</div>
                        <a pageScroll href="#xgreen"  class="button-discover w-button">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
                            <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                          </svg>
                        </a>
                    </div>
                </div>

              </div>
            </div>
    </div>
</div>

<div id="flexprivacy" class="section half-height middle-centered black wf-section">
  <div class="w-container">
    <div class="technology-text-column w-col w-col-9">
      <h1 class="h1-section orange">Public/Private Transactions</h1>
      <p class="h1-subtitles">The end user is the ultimate authority on how their funds are managed, and we provide tools for the user.
      </p>
      <p>
        <strong class="orange">Flex-Private send<br/></strong>One single wallet on our blockchain can be used to perform public and private transaction at the discretion of the user. 
        This enables anonymity to be used when privacy is needed while allowing for transparent transactions when required.
        <br/>
        <br/><strong class="orange">Flex-Private receive<br/>‍</strong>X-Cash offers the choice to receive only private or only public transactions to an address, and of course just like private send, 
        unconditional transactions are the default setting.
        <br/>
        <br/><strong class="orange">Private Stake<br/>‍</strong>‍Always putting the user experience first, X-Cash is the first blockchain to offer this feature with such a high level of ease from the user perspective.
        <br/>
        <br/><strong class="orange">Secured &amp; Unfalsifiable<br/></strong>Private and public transactions are cryptographically signed in large fixed ring sized transactions.
      </p>
    </div>
    <div class="round-animation-column w-col w-col-2">
        <!-- <div data-w-id="a28de8f5-7e76-4a44-83a7-7925122f1587" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/5f5f5f0330588e2883713b14/5f5f7debbe7bea415739d31a_data.json" data-loop="1" data-direction="1" data-autoplay="1"
        data-is-ix2-target="0" data-renderer="svg" data-default-duration="1.1833333333333333" data-duration="5" class="round-animation"></div> -->
        <ngx-lottie-view path="./../../../assets/documents/card_dark.json" class="round-animation" data-default-duration="1.1833333333333333" data-duration="5" style="width:250px; height:250px">
        </ngx-lottie-view>
    </div>
  </div>
</div>

<div id="dpops" class="section half-height middle-centered black wf-section">
    <div class="w-container">
      <div class="technology-text-column w-col w-col-9">
        <h1 class="h1-section orange">Delegated <br/>Proof-of-Private-Stake</h1>
        <p class="h1-subtitles">Built to remove scaling limitations, while enhancing overall security, X-Cash's blockchain expands processing capabilities through its Private implementation of DPOS, thus enabling 
          the crypto playground for all to coalesce.
        </p>
        <p>
          <strong class="orange">Staking<br/></strong>The X-Cash Public Network is secured by delegates, elected in their position by XCASH holders. By providing your vote through a stake in XCASH, 
          you are electing a representative to secure the network and forge new blocks, which will in return split the block reward with you.
          <br/>
          <br/><strong class="orange">DBFT <br/>‍</strong>The unique implementation of DBFT into the consensus process enables the X-Cash blockchain to become immune to forks, henceforth instantly validating new transactions.
          <br/>
          <br/><strong class="orange">Randomized Block Producer Selection</strong>
          <br/>The selection of the next delegate in charge of forging a block is completely randomized through the use of Verifiable Random Functions (VRF), increasing the security of the delegates by preventing attacks to the next
          block producer.
          <br/>
          <br/><strong class="orange">Stake Delegation with Reserve Proofs</strong>
          <br/>Instead of sending your stake to another wallet to vote toward a delegate, you are providing a cryptographic reserve proof of your funds to your delegate, meaning that you keep complete control of your stake at all
          times.
        </p>
      </div>
      <div class="round-animation-column w-col w-col-2">
        <!-- <div data-w-id="a28de8f5-7e76-4a44-83a7-7925122f1590" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/5f5f5f0330588e2883713b14/5f5f83ff8374da5a9478c1e3_data_dark.json" data-loop="1" data-direction="1" data-autoplay="1"
        data-is-ix2-target="0" data-renderer="svg" data-default-duration="3.15" data-duration="0" class="round-animation"></div> -->
        <ngx-lottie-view path="./../../../assets/documents/vote_dark.json" class="round-animation" data-default-duration="3.15" data-duration="0" style="width:250px; height:250px">
        </ngx-lottie-view>
      </div>
    </div>
</div>

<div id="sidechains" class="section half-height middle-centered black wf-section">
  <div class="w-container">
    <div class="technology-text-column w-col w-col-9">
      <h1 class="h1-section orange">Sidechains</h1>
      <p>
        X-Cash&#x27;s true innovation relies in its capacity to spawn new blockchains on demand. Because these blockchain are directly hosted by the delegates, they are secured, customizable, 
        & economical.
        <br/>
        <br/><strong class="orange">No hardware needed<br/></strong>A sidechain is a full blockchain which is hosted by the delegates. This means that contrary to traditional blockchains, you do not need to rent your own infrastructure.
        <br/>‍
        <br/><strong class="orange">Easy to code and customizable</strong>
        <br/>The deployment of a sidechain is fully automated and does not require extensive coding skills. Thanks to X-Blockchain modules, you can even choose an already customized blockchain that matches your needs.
        <br/>
        <br/><strong class="orange">Symmetrically Secure</strong>
        <br/>All nodes operate side chains with implicit consent from all other nodes as part of X-Cash's inherited security model.
        <br/>
        <br/><strong class="orange">Technological arms race</strong>
        <br/>Delegate nodes will be concurrently in a race to secure the highest spec system resources in order to achieve the block rewards for appending decentralised database entries of time
        sensitive-transactions by:
        <ul><br/>
          <li>Maintaining low network latency and competitive CPU and RAM to be able to process incoming txs, then store tx data.</li>
          <li>Maintaining appropriate network speed to be able to sync with the rest of our nodes.</li>
        </ul>
        <br/><strong class="orange">Cost effective and scalable</strong>
        <br/>Because a sidechain is your blockchain, you can set how many delegates will host it and how many sidechains you will need. Therefore, sidechains can perfectly match and grow with your needs which makes them cost effective.
        
    </div>
    <div class="round-animation-column w-col w-col-2">
        <!-- <div data-w-id="a28de8f5-7e76-4a44-83a7-7925122f1599" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/5f5f5f0330588e2883713b14/5f5f846002b9bd169ee96fde_data.json" data-loop="1" data-direction="1" data-autoplay="1"
        data-is-ix2-target="0" data-renderer="svg" data-default-duration="1.7" data-duration="0" class="round-animation"></div> -->
        <ngx-lottie-view path="./../../../assets/documents/data_dark.json" class="round-animation" data-default-duration="1.1833333333333333" data-duration="5" style="width:250px; height:250px">
        </ngx-lottie-view>
    </div>
  </div>
</div>

<div id="xgreen" class="section half-height middle-centered black wf-section">
    <div class="w-container">
      <div class="technology-text-column w-col w-col-9">
        <h1 class="h1-section "><span class="orange ">X-</span><span class="green">Green</span></h1>
        <p class="h1-subtitles">(Green + Clean) + Blockchain = X-Cash</p>
        <p>
          <strong class="orange">An Energy-Efficient Algorithm.<br/></strong>Unlike Proof-of-Work blockchains like Bitcoin or Ethereum, or POS blockchains which require wallets to remain open, X-Cash's Private DPOS requires significantly less 
          energy making it the ideal platform for building eco-friendly blockchain applications.
          <br/>
          <br/><strong class="orange">Eco-Proof <br/>‍</strong>Our use of reserve proofs free devices from obligation to remain open in order to receive stake rewards, therefore giving the voted for delegate the task of distributing rewards:
          reward status can be verified by plugging into our delegate explorer API, or with a third-party integration.
          <br/>
          <br/><strong class="orange">Extremely low </strong>
          <br/>Through our internal monitoring, we concluded that X-Cash's blockchain uses the equivalent of < 4 Toasters using the following workings:

          [Show workings here]
          
          however, while we're confident that this estimate is accurate, we encourage you to dispute this claim and if a more accurate counter assessment is made (with 
          demonstrable workings) then we will update the figures along with workings: and give you credit where it is due.
          
        </p>
      </div>
      <div class="round-animation-column w-col w-col-2">
        <!-- <div data-w-id="a28de8f5-7e76-4a44-83a7-7925122f1590" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/5f5f5f0330588e2883713b14/5f5f83ff8374da5a9478c1e3_data.json" data-loop="1" data-direction="1" data-autoplay="1"
        data-is-ix2-target="0" data-renderer="svg" data-default-duration="3.15" data-duration="0" class="round-animation"></div> -->
        <ngx-lottie-view path="./../../../assets/documents/xcash_leaf.json" class="round-animation pos-xgreen" data-default-duration="3.15" data-duration="0" style="width:210px; height:165px">
        </ngx-lottie-view>
        <ngx-lottie-view  path="./../../../assets/documents/circlelayer.json" class="round-animation pos-abs-green" data-default-duration="1.1833333333333333" data-duration="5" style="width:200px; height:200px">
        </ngx-lottie-view>
        <ngx-lottie-view  path="./../../../assets/documents/gridlayer.json" class="round-animation pos-abs-green" data-default-duration="1.1833333333333333" data-duration="5" style="width:200px; height:200px">
        </ngx-lottie-view>
      </div>
    </div>
</div>

<div id="stake" class="section half-height middle-centered black wf-section">
    <div class="w-container">
      <div class="technology-text-column w-col w-col-9">
        <h1 class="h1-section orange">Stake and earn passive income</h1>
        <p class="h1-subtitles">Earn more XCASH with your computer off!
        </p>
        <p>
          <strong class="orange">Staking<br/></strong>The days of constantly checking that your computer is up staking are long gone. With only 2million xcash you can vote for a delegate, (need to describe delegate stuff in another bullet point) turn off your computer and enjoy your worry-free day.
          <br/>
          <br/><strong class="orange">DBFT <br/>‍</strong>LOREM IPSUM
          <br/>
          <br/><strong class="orange">Randomized Block Producer Selection</strong>
          <br/>With the presence of Verifiable random functions (VRF), you can rest assured that you have equal chance of receiving a stake with any other
          staking wallet. VRF force true random and unanticipatable delegate block producer selection, which also bolsters our network's security by removing
          the chance of attack on the next elected delegate node. 
          <br/>
          <br/><strong class="orange">Stake Delegation with Reserve Proofs</strong>
          <br/>Instead of sending your stake to another wallet to vote toward a delegate, you are providing a cryptographic reserve proof of your funds to your delegate, 
          meaning that you keep complete control of your stake at all times. 
        </p>
        <div class="horizontal-button-container">
          <a target="_blank" href="https://delegates.xcash.foundation" class="button-orange inverse button-1 w-button">Delegates Explorer</a>
          <a target="_blank" href="https://calculator.xcash.foundation" class="button-orange inverse button-1 w-button">ROI Calculator</a>
          <a target="_blank" href="https://docs.xcash.foundation/dpops/vote-and-staking" class="button-orange inverse button-1 w-button">Read more on X-Staking</a>
        </div>
      </div>
      <div class="round-animation-column w-col w-col-2">
        <!-- <div data-w-id="a28de8f5-7e76-4a44-83a7-7925122f1590" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/5f5f5f0330588e2883713b14/5f5f83ff8374da5a9478c1e3_data.json" data-loop="1" data-direction="1" data-autoplay="1"
        data-is-ix2-target="0" data-renderer="svg" data-default-duration="3.15" data-duration="0" class="round-animation"></div> -->
        <ngx-lottie-view path="./../../../assets/documents/vote_dark.json" class="round-animation" data-default-duration="3.15" data-duration="0" style="width:250px; height:250px">
        </ngx-lottie-view>
      </div>

    </div>
</div>

<div id="wxcash" class="section half-height middle-centered black wf-section">
  <!-- <div data-w-id="2a39bb6e-8c6e-3535-d51b-aee3ca88eaa8" data-animation-type="lottie" data-src="assets/documents/data---Copy_dark_nogrid.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="4.183333333333334" data-duration="0" class="background-animation white wxcash-animation"></div> -->
  <ngx-lottie-view path="./../../../assets/documents/data---Copy_dark_nogrid.json" class="background-animation" data-default-duration="1.1833333333333333" data-duration="5"   >
  </ngx-lottie-view>
  <div class="w-container"   >
    <h1 class="h1-section">WXCASH</h1>
    <p class="h1-subtitles">WXCASH is a 1:1 version of wrapped XCASH on the Polygon (ex-MATIC) Network. <br></p>
    <ul role="list" class="list-2">
      <li class="consensus-item"><span class="bg-dark"><strong>Increased interoperability<br></strong>WXCASH was created to access the full potential of web3.0 technologies, and unlock additional uses for the X-Cash Network. With access to the Polygon Network, a layer-2 of Ethereum, XCASH users can now access the DeFi ecosystem.</span></li>
      <li class="consensus-item"><span class="bg-dark"><strong>X-Bank: Free Bridge, Forever<br>‍</strong>We have built the bridge from the X-Cash Mainnet to the Polygon Network in the <a href="https://x-bank.io" class="link-orange">X-Bank</a>, the free &amp; easy X-Cash storage solution. You can easily swap your Mainnet XCASH to Polygon WXCASH, instantaneously and for free, within your free account.<strong><br></strong></span></li>
      <li class="consensus-item"><span class="bg-dark"><strong>Access to DEX and yield farming<br></strong>The WXCASH is listed on <a href="https://info.quickswap.exchange/pair/0x30167fea9499c11795bfd104667240bdac939d3a" class="link-orange">Quickswap.exchange </a>and traded on the pair XCASH/QUICK. Additionally, X-Cash has partnered with Quickswap.exchange to create a special Yield Farming pook. <a href="https://medium.com/x-cash/x-cash-x-quickswap-liquidity-program-earn-quick-and-xcash-b309cee832c2" class="link-orange">Read more here.</a></span></li>
      <li class="consensus-item"><span class="bg-dark"><strong>Contract Address: </strong>
        <a href="https://polygonscan.com/token/0x03678f2c2c762dc63c2bb738c3a837d366eda560"><strong class="link-orange">0x03678f2c2c762dc63c2bb738c3a837d366eda560</strong></a></span>
      </li>
    </ul>
    <div class="horizontal-button-container">
      <a href="https://docs.xcash.foundation/applications/wxcash" class="button-orange inverse button-1 w-button">Read more on WXCASH</a>
    </div>
  </div>
</div>

<div id="xbank" class="section half-height middle-centered black wf-section">
  <!-- <div data-w-id="2a39bb6e-8c6e-3535-d51b-aee3ca88eaa8" data-animation-type="lottie" data-src="assets/documents/data---Copy_dark_nogrid.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="4.183333333333334" data-duration="0" class="background-animation white wxcash-animation"></div> -->
  <ngx-lottie-view path="./../../../assets/documents/demo-left-right_dark_nogrid.json" class="background-animation wxcash-animation" data-default-duration="4.183333333333334" data-duration="0">
  </ngx-lottie-view>
  <div class=" w-container">
    <h1 class="h1-section">X-Bank</h1>
    <p class="h1-subtitles">The X-Bank is a secured off-chain online service to store and access swap services for the X-Cash blockchain. <br></p>
    <ul role="list" class="list-5">
      <li class="consensus-item">
        <span class="bg-dark">
        <strong>X-Bank: Free Bridge, Forever<br>‍</strong>We have built the bridge from the X-Cash Mainnet to the Polygon Network in the <a href="https://x-bank.io" class="link-orange">X-Bank</a>, the free &amp; easy X-Cash storage solution. You can easily swap your Mainnet XCASH to Polygon X-Bank, instantaneously and for free, within your free account.<strong><br></strong>
        </span>
      </li>
      <li class="consensus-item">
        <span class="bg-dark">
          <strong>Highly Secured<br></strong>With a combinaison of multi-signatures wallets, automatic cold wallet storage and a private dedicated network, the security of your funds is our priority.
        </span>
      </li>
      <li class="consensus-item">
        <span class="bg-dark">
          <strong>Store and Use as needed<br></strong>You can safely store your XCASH in the X-Bank's secured storage solution. Transfers within the X-Bank are free, and we are only charging standard blockchain fees for withdraw.
        </span>
      </li>
      <li class="consensus-item">
        <span class="bg-dark">
          <strong>Swap to WXCASH<br></strong>Create an account on the X-Bank to safely store your XCASH, and proceed with the integrated free swap feature to change your XCASH to WXCASH.
        </span>
      </li>
    </ul>
    <div class="horizontal-button-container">
      <a target="_blank" href="https://x-bank.io" class="button-orange inverse button-1 w-button">Visit X-Bank</a>
      <a target="_blank" href="https://x-bank.io/signup" class="button-orange inverse button-1 w-button">Create an account and swap</a>
      <a href="https://apps.apple.com/us/app/x-bank/id1480299373" class="button-orange inverse button-1 w-button">
        Download iOS app
      </a>
    </div>
  </div>
</div>

<div id="xpayment" class="section half-height middle-centered black wf-section">
  <ngx-lottie-view path="./../../../assets/documents/data---Copy_dark_nogrid.json" class="background-animation" data-default-duration="1.1833333333333333" data-duration="5">
  </ngx-lottie-view>
  <div class="container-wxcash w-container">
    <h1 class="h1-section">X-Payment</h1>
    <h2 class="teal"><strong>Use cryptocurrencies directly on Discord</strong></h2>
    <p class="h1-subtitles bg-dark"><strong> X-Payment is a Discord integrated solution where users can execute off-chain p2p transactions instantly, and at no cost.</strong><br></p>
    <ul role="list" class="list-5">
      <li class="consensus-item bg-dark">With <strong>X-Payment,</strong> we aim to increase adoption of XCASH and cryptocurrencies by providing solutions which are targeted for retail users. Those solutions will cater to various types of communities to implement our service for their desired activities. We are thinking of gaming communities, sports betting, etc. and any other communities that could need p2p exchange of value features.
      </li>
      <li class="consensus-item bg-dark"><strong>Instantaneous Secured Payments<br></strong>Built upon proven secured infrastructure, funds are secured and mainly stored in cold wallets. Payments are off-chain and instantaneous with hybrid privacy features, you don't need to wait hours to receive and spend your funds.
      </li>
      <li class="consensus-item bg-dark"><strong>No Licensing Fee<br></strong>Because we are convinced X-Payment can bring innovation, we decided to make it free to use for community owners. To generate revenues and help finance their community, owners can still collect (optional) fees off every transaction.
      </li>
      <li class="consensus-item bg-dark"><strong>Merchant Service<br></strong>Merchant system built on X-Payment allows Discord Users to monetize perks/roles on their communities and built economy system however they see fit.
      </li>
    </ul>
    <div class="horizontal-button-container">
      <a target="_blank" href="https://discord.gg/4CAahnd" class="button-orange inverse button-1 w-button">Give a try at Discord</a>
      <a target="_blank" href="https://docs.xcash.foundation/applications/xpayment" class="button-orange inverse button-1 w-button">Read more on X-Payment</a>
    </div>
  </div>
</div>


<div id="foundation" class="section half-height middle-centered black wf-section">
  <!-- <div data-w-id="f3564922-4867-ea62-7b42-3607fabca4ea" data-animation-type="lottie" data-src="./../../../assets/documents/compositionrocket_dark_nogrid.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="7.766666666666667" data-duration="0" class="background-animation white rocket-animation"></div> -->
  <ngx-lottie-view path="./../../../assets/documents/compositionrocket_dark_nogrid.json" class="background-animation rocket-animation pos-rocket">
  </ngx-lottie-view>

  <div class="w-container">
    <h1 class="h1-section">The X-Cash Foundation</h1>
    <p class="h1-subtitles">The open-source X-Cash Project is developed by the X-Cash Foundation, a non-profit organization created for the sole purpose of managing X-Cash.<br></p>
    <ul role="list" class="list-5">
      <li class="consensus-item"><strong>Open-source </strong><strong>‍</strong>‍<br>X-Cash is an open-source project, built upon the work of skilled and engaged contributors. Every projects around the X-Cash Ecosystem is open for contributions on the public <a href="https://github.com/X-CASH-official" class="inline-link">GitHub</a>. </li>
      <li class="consensus-item"><strong>Community-driven<br></strong>Following a clear line of technical development, the vision is built with the community, by the community. Every projects proposed by the community is assessed and evaluated by the foundation to provide funding.<strong><br></strong></li>
      <li class="consensus-item"><strong>Self-Funded<br></strong>The project has been funded by the founding team, and there was no ICO. The current development of the cryptocurrency is now payed with the community fund, put in place to reward projects built for the X-Cash ecosystem.<strong><br></strong></li>
    </ul>
    <div class="horizontal-button-container">
      <a href="contribute" class="button-orange inverse button-1 w-button">Contribute to the project</a>
    </div>
  </div>
</div>


<div id="exchanges" class="section half-height middle-centered black wf-section">
  <ngx-lottie-view path="./../../../assets/documents/actuality_dark_nogrid.json" class=" dark atm-animation smaller-animation actua-pos">
  </ngx-lottie-view>

    <div class="container-6 w-container">
        <h1 class="h1-jumbotron">Partners</h1>
        <h2 class="text-center">Exchanges</h2>
        <p class="h1-subtitles">X-Cash is currently listed on the following exchanges platform, where XCASH is traded against LTC, BTC, ETH, USDT and more.</p>
        <h3 class="exchange-class">XCASH Mainnet</h3>
        <div class="exchange-list w-dyn-list">
            <div role="list" class="collection-list w-dyn-items w-row">
                <div role="listitem" class="collection-item w-dyn-item w-col w-col-6">
                    <a href="https://www.citex.co.kr/#/home" class="exchange-container w-inline-block"><img loading="lazy" src="assets/images/partners/5f721654db51e21fd05d2807_citex_orange.svg" alt="CITEX" class="exchange-logo" /></a>
                </div>
                <div role="listitem" class="collection-item w-dyn-item w-col w-col-6">
                    <a href="https://www.stex.com/" class="exchange-container w-inline-block"><img loading="lazy" src="assets/images/partners/5f72164dfa34506ed9ddb079_stex_orange.svg" alt="STEX" class="exchange-logo" /></a>
                </div>
                <div role="listitem" class="collection-item w-dyn-item w-col w-col-6">
                    <a href="https://graviex.net/desktop" class="exchange-container w-inline-block"><img loading="lazy" src="assets/images/partners/5f721646291d034eeaf137c8_graviex_orange.svg" alt="Graviex" class="exchange-logo" /></a>
                </div>
                <div role="listitem" class="collection-item w-dyn-item w-col w-col-6">
                    <a href="https://www.altilly.com/" class="exchange-container w-inline-block"><img loading="lazy" src="assets/images/partners/5f73208d0264c31d509e9436_altilly_orange.svg" alt="Altilly" class="exchange-logo" /></a>
                </div>
                <div role="listitem" class="collection-item w-dyn-item w-col w-col-6">
                    <a href="https://www.hotbit.io/" class="exchange-container w-inline-block"><img loading="lazy" src="assets/images/partners/5f732268c11969174a460c8b_hotbit_orange.svg" alt="HotBit" class="exchange-logo" /></a>
                </div>
            </div>
        </div>
        <h3 class="heading">WXCASH (Polygon)</h3>
        <div class="exchange-list w-dyn-list">
            <div role="list" class="collection-list w-dyn-items w-row">
                <div role="listitem" class="collection-item w-dyn-item w-col w-col-6">
                    <a href="https://international.indoex.io/trade/XCASH_USDT" class="exchange-container w-inline-block"><img src="assets/images/partners/61a73ea343c37215772fb882_indoex_blured-logo_txt-only_orange.svg" loading="lazy" width="125" alt="IndoEx" class="exchange-logo" /></a>
                </div>
                <div role="listitem" class="collection-item w-dyn-item w-col w-col-6">
                    <a href="https://www.probit.com/app/exchange/XCASH-USDT" class="exchange-container w-inline-block"><img src="assets/images/partners/61a73e72fb267a71198b8edf_probit-logo-hori-orange.svg" loading="lazy" width="125" alt="Probit" class="exchange-logo" /></a>
                </div>
                <div role="listitem" class="collection-item w-dyn-item w-col w-col-6">
                    <a href="https://info.quickswap.exchange/pair/0x30167fea9499c11795bfd104667240bdac939d3a" class="exchange-container w-inline-block"><img src="assets/images/partners/61a73e20848a3ce42a212f69_quickswap-logo-orange.svg" loading="lazy" width="125" alt="Quickswap" class="exchange-logo" /></a>
                </div>
            </div>
        </div>
        <p class="h1-subtitles disclaimer"><em>Each platform have their own conditions and policies. Please read their individual terms of use and XCASH withdrawing conditions before attempting to buy there.</em>
            <br/>
        </p>
        <h2>In the wild</h2>
        <div class="exchange-list w-dyn-list">
            <div role="list" class="collection-list w-dyn-items w-row">
                <div role="listitem" class="collection-item w-dyn-item w-col w-col-6">
                    <a href="https://www.coinmarketleague.com/coin/x-cash" class="news-container w-inline-block"><img src="assets/images/partners/61a8db6ae7c4b5196933eff3_CML-Slogan_in_black.svg" loading="lazy" width="184" alt="CoinMarketLeague" class="exchange-logo" /></a>
                </div>
                <div role="listitem" class="collection-item w-dyn-item w-col w-col-6">
                    <a href="https://bitcourier.co.uk/news/x-cash-interview" class="news-container w-inline-block"><img src="assets/images/partners/61a743f12d110d1a3cb8e408_bitcourier.svg" loading="lazy" width="184" alt="Bitcourier" class="exchange-logo" /></a>
                </div>
                <div role="listitem" class="collection-item w-dyn-item w-col w-col-6">
                    <a href="https://crypto-enthusiast.com/" class="news-container w-inline-block"><img src="assets/images/partners/crypto-enthusiast.svg" loading="lazy" width="184" alt="Crypto Enthusiast" class="exchange-logo" /></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
  <div id="latest-news" class="section black  wf-section">
    <div class="w-container">
      <h1 class="h1-section">Latest News</h1>
      <p class="h1-subtitles">Read the latest news about the X-Cash project.</p>
      <div class="w-dyn-list">
        <div role="list" class="w-dyn-items w-row">
          <div role="listitem" class="collection-item-2 w-dyn-item w-col w-col-4">
            <a href="#" class="blog-link w-inline-block">
              <div class="magazine-header">
                <div class="magazine-date"></div>
                <h4 class="blog-title"></h4>
              </div>
              <div class="lottie-container"><img loading="lazy" src="" alt="" class="image-2">
                <ngx-lottie-view path="./../../../assets/documents/press_dark_nogrid.json" class="magazine-animation" data-default-duration="2.0166666666666666" data-duration="5">
                </ngx-lottie-view>
              </div>
              <div class="article-container">
                <p class="article-sample"></p>
                <div class="author-container">
                  <div class="text-block-2">By </div>
                  <p class="blog-author author-magazine"></p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="w-dyn-empty">
          <div>No items found.</div>
        </div>
      </div>
      <a routerLink="news" class="button-orange inverse button-1 w-button">Go To Blog</a>
    _dark</div>
  </div>
-->



<div id="go-further" class="section half-height middle-centered black wf-section">
  <div class="w-container">
    <h1 class="h1-section">Go Further</h1>
    <div class="bubble-column w-row">
      <div class="info-bubble w-col w-col-4">
        <!-- <div data-w-id="e3d6bbc5-d4eb-2074-6121-d809d8c96df3" data-animation-type="lottie" data-src="assets/documents/manphone_dark.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="3.6" data-duration="0" class="info-lottie"></div> -->
        <ngx-lottie-view path="./../../../assets/documents/manphone_dark.json" class="info-lottie" data-default-duration="3.6" data-duration="0" >
        </ngx-lottie-view>
        <h3 class="bubble-title">Join the Growing Community</h3>
        <a href="https://discord.gg/4CAahnd" class="button-orange w-button">Discord Server</a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <!-- <div data-w-id="e3d6bbc5-d4eb-2074-6121-d809d8c96df9" data-animation-type="lottie" data-src="assets/documents/manacademy_dark_nogrid.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="2.0166666666666666" data-duration="0" class="info-lottie"></div> -->
        <ngx-lottie-view path="./../../../assets/documents/manacademy_dark.json" class="info-lottie" data-default-duration="2.0166666666666666" data-duration="0" >
        </ngx-lottie-view>
        <h3 class="bubble-title">Read the Documentation</h3>
        <a href="https://docs.xcash.foundation/" class="button-orange w-button">Documentation</a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <!-- <div data-w-id="e3d6bbc5-d4eb-2074-6121-d809d8c96dff" data-animation-type="lottie" data-src="assets/documents/womanread_dark.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="2.466666666666667" data-duration="0" class="info-lottie"></div> -->
        <ngx-lottie-view path="./../../../assets/documents/womanread_dark.json" class="info-lottie" data-default-duration="2.466666666666667" data-duration="0" >
        </ngx-lottie-view>
        <h3 class="bubble-title">Read The Latest News</h3>
        <a href="https://medium.com/x-cash" class="button-orange w-button">Blog</a>
      </div>
    </div>
  </div>
</div>


<div id="get-started" class="section half-height middle-centered black wf-section">
  <!-- <div data-w-id="1f3a26dc-6cac-9ec9-becd-22af416d3c8b" data-animation-type="lottie" data-src="assets/documents/data---Copy_dark_nogrid.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="4.183333333333334" data-duration="0" class="background-animation"></div> -->
  <ngx-lottie-view path="./../../../assets/documents/womanchart_dark_nogrid.json" class="background-animation smallest-animation pos-woman-svg" data-default-duration="4.183333333333334" data-duration="0" >
  </ngx-lottie-view>
  <div class="container-4 w-container">
    <h1 class="col-white">Get Started</h1>
    <p class="col-white">You are new to X-Cash? <br>Let us walk you through to get started on your journey.<br></p>
    <ul role="list" class="list-get-started">
      <li class="get-started-item">Download a wallet</li>
      <li class="get-started-item">Acquire XCASH on supported exchanges</li>
      <li class="get-started-item">Join and engage with the community</li>
      <li class="get-started-item">Contribute and earn rewards</li>
    </ul>
    <a href="get-started" class="button on-dark w-button">Get Started</a>
  </div>
</div>


<div id="use-xcash" class="section half-height middle-centered  black wf-section">
  <!-- <div data-w-id="28875aa1-8ceb-2af2-0b5b-8babf8f31e0b" data-animation-type="lottie" data-src="documents/atm.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="3" data-duration="0" class="background-animation white smallest-animation atm-animation"></div> -->
  <ngx-lottie-view path="./../../../assets/documents/atm_dark_nogrid.json" data-default-duration="4.4" data-duration="0" class="background-animation smallest-animation atm-animation pos-usethem">  </ngx-lottie-view>
  <div class="container-6 w-container">
    <h1 class="h1-jumbotron">Use Them</h1>
    <p class="h1-subtitles">The community is building new products and new ways to use XCASH.<br></p>
    <p><strong>X-Payment<br></strong>A payment solution that can be instantaneously integrated on any Discord server. Send some XCASH over there, participate in the discussions and easily send funds to anyone on the same server.<br></p>
    <p><strong>Vote and earn XCASH<br></strong>The X-Cash Network is governed by delegates elected by the community. You can use your XCASH to vote for a delegate, and be retributed for your stake.<br></p>
    <div class="horizontal-button-container">
      <a href="https://docs.xcash.foundation/dpops/vote-and-staking" class="button-orange inverse button-1 w-button">Stake your XCASH</a>
    </div>
  </div>
</div>
<div id="get-involved" class="section half-height middle-centered black wf-section">
  <!-- <div data-w-id="98676774-37dd-5684-09d9-0b2c4f9de47a" data-animation-type="lottie" data-src="documents/data---Copy.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="4.183333333333334" data-duration="0" class="background-animation"></div> -->
  <ngx-lottie-view path="./../../../assets/documents/data---Copy.json" data-default-duration="4.4" data-duration="0" class="background-animation">  </ngx-lottie-view>
  <div class="container-4 w-container">
    <h1>Get Involved</h1>
    <p class="h1-subtitles reduced-width">Once you have started your journey with X-Cash, there is still much you can do to get more involved.<br>As an open-source project, X-Cash relies on contributions to move forward.<br><br><strong>Contribute to the project<br></strong>The X-Cash Foundation is running several bounty programs and sponsoring for small to big projects relating to the X-Cash ecosystem. You can participate in the development, be an integral part of the project and earn a consequent reward to do so.<br><br><strong>Become a delegate</strong><br>The X-Cash blockchain is governed by elected delegates securing the network. Providing people vote for you, or that you have enough XCASH to get you elected, you can also become an elected delegate and start forging blocks.<br></p>
    <div class="horizontal-button-container">
      <a href="contribute.html" class="button-dark button-1 w-button">Contribute</a>
      <a href="https://docs.xcash.foundation/dpops/get-started" class="button-orange inverse button-1 on-black w-button">Become a Delegate</a>
    </div>
  </div>
</div>




<div id="overview" class="section full-height middle-centered black wf-section">
  <!-- <ngx-lottie-view path="./../../../assets/documents/actuality_dark_nogrid.json" class="background-animation white wxcash-animation" style="z-index: 0;">
  </ngx-lottie-view> -->
  <ngx-lottie-view path="./../../../assets/documents/demo-left-right_dark_nogrid.json" class="background-animation" data-default-duration="4.183333333333334" data-duration="0"  style="z-index: 0;">
  </ngx-lottie-view>

  <div class="w-container">
    <div class="w-col w-col-12">
      <h1 class="h1-section col-white">Discover X-Cash</h1>
      <p class="h1-subtitles col-white">LOREM IPSUM<br></p>
    </div>
    <div class="w-col w-col-12">
    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/project" class="landing-block w-inline-block button-orange inverse button-1 w-button inline-link">
          <h3>The Project</h3>
      </a>

      <a routerLink="/" fragment="key-technologies" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Key Technologies</h3>
      </a>

      <a routerLink="/" fragment="foundation"  class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3>The Foundation</h3>
      </a>


    </div>

    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="wxcash" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3 >Flex-Privacy</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="xbank" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3 >DPOPS</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="sidechains"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3 >Sidechains</h3>
      </a>
    </div>

    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a target="_blank" href="https://explorer.xcash.foundation" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3 >Explorer</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="green"  class="landing-block w-inline-block button-green inverse button-1 w-button">
          <h3>X-Green</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/wallets" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Wallets</h3>
      </a>
    </div>

    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a target="_blank" href="http://delegates.xcash.foundation" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3 >Delegates</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="stake"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Stake</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a target="_blank" href="http://calculator.xcash.foundation" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3 >Calculator </h3>
      </a>
    </div>

    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="xbank"  class="landing-block w-inline-block button-xbank inverse button-1 w-button">
          <h3 >X-Bank</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="wxcash"  class="landing-block w-inline-block button-wxcash inverse button-1 w-button">
          <h3 >WXCASH</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="xpayment"  class="landing-block w-inline-block button-xpay inverse button-1 w-button">
          <h3 >X-Payment</h3>
      </a>
    </div>

        <!-- block of 3 -->
    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a href="https://docs.xcash.foundation/"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Documentation </h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a href="https://github.com/X-CASH-official"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Github </h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a  routerLink="/contribute"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Contribute</h3>
      </a>
    </div>

    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/people#target1"  class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3>People</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="exchanges"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Exchanges</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/" fragment="exchanges"  class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3>Partners</h3>
      </a>
    </div>

    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/project" fragment="roadmap"  class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3>Roadmap</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a href="https://xcash.rocks/tools+mirrors"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Ressources</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a href="https://medium.com/x-cash"  class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3>Blog</h3>
      </a>
    </div>

    <!-- block of 3 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a routerLink="/mediakit" class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3>Media/Press Kit</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a href="https://www.xcashmerch.com/"  class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3>Swag Store</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-4">
      <a href="https://twitter.com/XCashCrypto"  class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3>What's up</h3>
      </a>
    </div>

    <!-- block of 2 -->

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-12">
      <a routerLink="/people" fragment="communities" class="landing-block w-inline-block button-orange inverse button-1 w-button">
          <h3 >Communities</h3>
      </a>
    </div>

    <div role="listitem" class="repository-container w-dyn-item w-col w-col-12">
      <a href="https://discord.gg/4CAahnd"  class="landing-block w-inline-block button-dark inverse button-1 w-button">
          <h3 >Talk with us on Discord </h3>
      </a>
    </div>

  </div>
</div>
