.landing-block {
	display: flex;
	/* min-height: 100px; */
  /* margin-right: 10px;
	margin-bottom: 20px;
  margin-top: 20px;
	margin-left: 10px; */
	padding: 20px;
	flex-direction: column;
	justify-content: space-around;
	border-style: solid;
	border-width: 1px;
	transition: all 200ms ease;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
.landing-block.orange {
	border-color: #ff6d00;
}

.landing-block h3 {
  margin: 0;
}
.button-1 {
  margin-right: 32px;
  margin-top: 16px;
  text-align: center;
}

.button-dark {}

.button-dark:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #1f1f1f;
  color: #1f1f1f;
  background-color: #fff;
}

.button-green {
  background-color: #7CB518;
}

.button-green:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #7CB518;
  color: #7CB518;
  background-color: #fff;
}
.button-xbank {
  background-color: #F7BF23;
  border-color: #F7BF23;
}

.button-xpay {
  background-color: #56B786;
  border-color: #56B786;
}
.button-teal {
  background-color: #1189A5;
  border-color: #1189A5;
}
.button-wxcash {
  background-color: #8C52FF;
  border-color: #8C52FF;
}



#exchanges h3{
  width: 100%;
  text-align: center;
}
.mt-20{
  margin-top: 20px;
}
.list-2{
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: bold;
}
ul.list-2 > li{
  padding: 10px;
}
