<div id="landingbox" class="section half-height middle-centered black wf-section">
    <ngx-lottie-view path="./../../../assets/documents/jumbotron_dark_nogrid_nodownman_colors.json" class="background-animation landing-animation" data-default-duration="4.183333333333334" data-duration="0"  style="z-index: 0;">
    </ngx-lottie-view>
    <ngx-lottie-view path="./../../../assets/documents/jumbotron-blue.json" class="background-animation-left landing-animation-left" data-default-duration="4.183333333333334" data-duration="0"  style="z-index: 0;">
    </ngx-lottie-view>
  
    <div class="w-container">
  
      <div class="w-col w-col-12 landing-headline ">
  
        <h1 class="orange welcome-to-web3-reposition-resizing-for-small-screen">
          Welcome to Web3’s <br>
          <div class="pos-heading font-larger">
          <div class="slidingHorizontal ">
  
            <span class="teal">Private </span><span class="orange"><bdi class="asterix-hide">*</bdi>Public </span>
          </div>
          <span class="xbank an-1 computing-text-align ">Computing </span> <span class="teal computing-text-align ">Platform</span>
         </div>
          <!-- for mobile--><span class="teal slide-replace">Private </span><span class="xbank slide-replace">Computing </span> <span class="teal slide-replace">Platform</span>
  
        </h1>
        <div class="">
          <h2 class="fuel-move fuel-larger"><span class="orange ">X</span>CASH is fuel for transaction diversity on the blockchain<br></h2>
        </div>
      </div>
      <div class="w-col w-col-12 landing-headline " >
        <a href="#overview" id="scroll-arrow-button" class="landing-block w-inline-block button-dark button-discover inverse button-1 w-button inline-link" >
          <h3 class="orange"><span class="bg-dark discover-larger">Discover X-Cash</span></h3>
          <h3>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4rem"  class="orange">
              <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
            </svg>
          </h3>
        </a>
      </div>
    </div>
  </div>
  