<div id="wxcash" class="section full-height middle-centered black wf-section">
  <div class="w-container wxcash-scale-and-positioning-for-small-screens">

    <img class="wxcash-style" src="/assets/images/wxcashv3.svg">

    <h1 class="wxcash-move">WXCASH</h1>

    <p class="h1-subtitles wxcash-subt reduced-width orange">XCASH wrapped in Polygon.<br></p>

    <div class="h1-subtitles reduced-width">
      <ul  role="list" class="list-5">
        <li class="consensus-item">
          <span class="bg-dark"><strong class="orange">Increased Connection<br></strong><span class="unbolden-text">WXCASH enables swift network teleportation. Plugged into Ethereum's Polygon L2, XCASH users hop between multiple networks at will.</span></span>
        </li>
        <li class="consensus-item"><span class="bg-dark"><strong class="orange">X-Bank: Free Bridge, Forever<br>‍</strong><span class="unbolden-text">Swap your XCASH to WXCASH instant and free in the <a href="https://x-bank.io" class="link-orange">X-Bank.</a><strong><br></strong></span></span></li>
        <li class="consensus-item"><span class="bg-dark"><strong class="orange">Access to DEX and yield farming<br></strong><span class="unbolden-text">WXCASH is listed on <a href="https://info.quickswap.exchange/pair/0x30167fea9499c11795bfd104667240bdac939d3a" class="link-orange">Quickswap </a>and traded via XCASH/QUICK. </span></span></li>
        <li class="consensus-item"><span class="bg-dark"><strong class="orange">Contract:<br> </strong>
          <a class="link-white contract-width" href="https://polygonscan.com/token/0x03678f2c2c762dc63c2bb738c3a837d366eda560"><strong class="contract-width">0x03678f2c2c762dc63c2bb738c3a837d366eda560</strong></a></span>
        </li>
      </ul>
    </div>
    <div class="horizontal-button-container pos-button-wxcash">
      <a href="https://docs.xcash.foundation/applications/wxcash" class="button-black inverse button-1 w-button">Read more on WXCASH</a>
    </div>
  </div>
</div>




