<div id="wxcash" class="section full-height middle-centered black wf-section">
    <!-- <div data-w-id="2a39bb6e-8c6e-3535-d51b-aee3ca88eaa8" data-animation-type="lottie" data-src="assets/documents/data---Copy_dark_nogrid.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="4.183333333333334" data-duration="0" class="background-animation white wxcash-animation"></div> -->
    <!--ngx-lottie-view path="./../../../assets/documents/data---Copy_dark_nogrid.json" class="background-animation" data-default-duration="1.1833333333333333" data-duration="5"   >
    </ngx-lottie-view-->
  
    <div class="w-container">
      <img class="wxcash-style" src="/assets/images/wxcashv3.svg">
      <h1 class="">WXCASH</h1>
  
      <p class="h1-subtitles reduced-width">WXCASH is a 1:1 version of wrapped XCASH on the Polygon (ex-MATIC) Network. <br></p>
  
      <div class="h1-subtitles reduced-width">
        <ul  role="list" class="list-5">
          <li class="consensus-item"><span class="bg-dark"><strong class="orange">Increased interoperability<br></strong>WXCASH was created to access the full potential of web3.0 technologies, and unlock additional uses for the X-Cash Network. With access to the Polygon Network, a layer-2 of Ethereum, XCASH users can now access the DeFi ecosystem.</span></li>
          <li class="consensus-item"><span class="bg-dark"><strong class="orange">X-Bank: Free Bridge, Forever<br>‍</strong>We have built the bridge from the X-Cash Mainnet to the Polygon Network in the <a href="https://x-bank.io" class="link-orange">X-Bank</a>, the free &amp; easy X-Cash storage solution. You can easily swap your Mainnet XCASH to Polygon WXCASH, instantaneously and for free, within your free account.<strong><br></strong></span></li>
          <li class="consensus-item"><span class="bg-dark"><strong class="orange">Access to DEX and yield farming<br></strong>WXCASH is listed on <a href="https://info.quickswap.exchange/pair/0x30167fea9499c11795bfd104667240bdac939d3a" class="link-orange">Quickswap.exchange </a>and traded on the pair XCASH/QUICK. Additionally, X-Cash has partnered with Quickswap.exchange to create a special Yield Farming pook. <a href="https://medium.com/x-cash/x-cash-x-quickswap-liquidity-program-earn-quick-and-xcash-b309cee832c2" class="link-orange">Read more here.</a></span></li>
          <li class="consensus-item"><span class="bg-dark"><strong>Contract Address: </strong>
            <a href="https://polygonscan.com/token/0x03678f2c2c762dc63c2bb738c3a837d366eda560"><strong class="link-orange">0x03678f2c2c762dc63c2bb738c3a837d366eda560</strong></a></span>
          </li>
        </ul>
      </div>
      <div class="horizontal-button-container">
        <a href="https://docs.xcash.foundation/applications/wxcash" class="button-black inverse button-1 w-button">Read more on WXCASH</a>
      </div>
    </div>
  </div>
  