<div id="landingbox2" class="section half-height middle-centered black wf-section  ">
    <ngx-lottie-view path="./../../../assets/documents/boysit_cropped.json " class="pos-boysit" data-default-duration="4.183333333333334" data-duration="0" >
    </ngx-lottie-view>
    <div class="w-container pos-box-left">
      <div class="w-col w-col-12 enlarge-xx">
        <h2>You, <span class="teal">Conscious</span><span class="xbank"> One</span>, deserve<span class="orange"> Privacy </span></h2>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>
      </div>
    </div>
  </div>
