<div id="listbox" class="section full-height middle-centered black wf-section">
  <div class="scale-total-features-list">
  <ngx-lottie-view path="./../../../assets/documents/Lottie_xcash_dev_dark_nogrid_cropped.json" class="background-animation smallest-animation pos-provides" data-default-duration="4.183333333333334" data-duration="0" alt="Developer"  style="z-index: -2;">
  </ngx-lottie-view>
  <div class="w-container ">
    <img class="pos-logo-list" src="/assets/images/xcash_provides.svg">
    <div class="w-col w-col-12 text-center enlarge-x">

    </div>
    <div role="listitem" class="w-col w-col-6 ">
      <ul role="list" class="list-2 ">
        <li><span class="bg-dark">Private/Public choice</span></li>
        <li><span class="bg-dark ">Decentralized, anonymous, & fair governance</span></li>
        <li><span class="bg-dark">Dynamic block sizes</span></li>
        <li><span class="bg-dark">Dynamic Decentralized database</span></li>
        <li><span class="bg-dark">Decentralized Sidechains</span></li>
        <li><span class="bg-dark">Multi-language Smart contracts</span></li>
        <li><span class="bg-dark">Cross-chain interoperability</span></li>
        <li><span class="bg-dark">String CTs & CoinJoin</span></li>
      </ul>
    </div>
    <div role="listitem" class="w-col w-col-6">
      <ul role="list" class="list-2 list-2-right-features">
        <li><span class="bg-dark">Unique Public addresses</span></li>
        <li><span class="bg-dark">Python library</span></li>
        <li><span class="bg-dark">JS library</span></li>
        <li><span class="bg-dark">dAPPS & NFTs</span></li>
        <li><span class="bg-dark">X-DEX</span></li>
        <li><span class="bg-dark">Instant payments</span></li>
        <li><span class="bg-dark">Anonymous voting protocol</span></li>
        <li><span class="bg-dark">Social account tipping & Merchant system</span></li>
      </ul>
    </div>
   
  </div>
  </div>
</div>