<div id="flexprivacy" class="section half-height middle-centered black wf-section">
    <div class="w-container">
      <div class="technology-text-column w-col w-col-9">
        <h1 class="h1-section col-white">Public/Private Transactions</h1>
        <p class="h1-subtitles orange">The end user is the ultimate authority on how their funds are managed, and we provide tools for the user.
        </p>
        <p> <strong>
          <span class="orange">Flex-Private send</span> <br/> One single wallet on our blockchain can be used to perform public and private transaction at the discretion of the user.
          This enables anonymity to be used when privacy is needed while allowing for transparent transactions when required.
          <br/>
          <br/><span class="orange">Flex-Private receive </span> <br/>‍X-Cash offers the choice to receive only private or only public transactions to an address, and of course just like private send,
          unconditional transactions are default.
          <br/> 
          <br/><span class="orange">Private Stake</span> <br/>‍‍Always putting the user experience first, X-Cash is the first blockchain to offer this feature with such a high level of ease from the user perspective.
          <br/>
          <br/><span class="orange">Secured & Unfalsifiable</span> <br/>Private and public transactions are cryptographically signed in large fixed ring sized transactions.
        </strong>
        </p>
        <div class="horizontal-button-container">
          <a target="_blank" href="https://docs.xcash.foundation/library/yellowpaper-hybrid-transactions" class="button-black inverse button-1 w-button">Hybrid TXs research paper</a>
        </div>
      </div>
      <div class="round-animation-column w-col w-col-2">
          <ngx-lottie-view path="./../../../assets/documents/card_dark.json" class="round-animation" data-default-duration="1.1833333333333333" data-duration="5" style="width:250px; height:250px">
          </ngx-lottie-view>
      </div>
    </div>
  </div>