<div id="flexprivacy" class="section-hybrid half-height middle-centered black wf-section hybrid-border-top ">
  <div class="w-container total-scale-hybrid-screens">
    <div class="technology-text-column w-col w-col-9">
      <h1 class="h1-section col-white pubpri-margin">Public/Private Transactions</h1>
        <p class="h1-subtitles orange">The end user is the ultimate authority on how their funds are managed, and we provide tools for the user.</p>
          <p>
            <strong>
              <span class="orange">Flex-Private send <br/> </span>One single wallet on our blockchain can be used to perform public and <span class="private-hide">private</span> transactions at the discretion of the user. This enables anonymity to be used when <span class="private-hide">privacy</span> is needed while allowing for transparent transactions when required.<br/><br/>
              <span class="orange">Flex-Private receive <br/></span>X-Cash offers the choice to receive only <span class="private-hide">private</span> or only public transactions to an address, and of course just like <span class="private-hide">private</span> send, unconditional transactions are default.<br/><br/>
              <span class="orange">Private Stake <br/> </span> Always putting the user experience first, X-Cash is the first blockchain to offer this feature with such a high level of ease from the user perspective.<br/><br/>
              <span class="orange">Secured & Unfalsifiable <br/> </span><span class="private-hide">private</span> and public transactions are cryptographically signed in large fixed ring sized transactions.
            </strong>
          </p>



      <div class="horizontal-button-container">
        <a target="_blank" href="https://docs.xcash.foundation/library/yellowpaper-hybrid-transactions" class="button-black inverse button-1 w-button hybrid-button-screens ">Hybrid TXs research paper</a>
      </div>
    </div>

      <div class="round-animation-column w-col w-col-2 pubpri-lottie">
         <ngx-lottie-view path="./../../../assets/documents/card_dark.json" class="card-dark-style" data-default-duration="1.1833333333333333" data-duration="5" ></ngx-lottie-view>
      </div>

    </div>
  </div>