
<!-- <div id="go-further" class="section half-height middle-centered black wf-section ">
  <div class="w-container">
    <h1 class="h1-section pos-goFurther">Go Further</h1>
    <div class="bubble-column w-row move-bubble-section">
      <div class="info-bubble w-col w-col-4">
        <ngx-lottie-view path="./../../../assets/documents/manphone_dark.json" class="info-lottie" data-default-duration="3.6" data-duration="0" >
        </ngx-lottie-view>
        <h3 class="bubble-title">Join the Community</h3>
        <a href="https://discord.gg/4CAahnd" class="button-orange w-button change-font news-container-dark">Discord Server</a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <ngx-lottie-view path="./../../../assets/documents/manacademy_dark.json" class="info-lottie" data-default-duration="2.0166666666666666" data-duration="0" >
        </ngx-lottie-view>
        <h3 class="bubble-title">Read the Documentation</h3>
        <a href="https://docs.xcash.foundation/" class="button-orange w-button change-font news-container-dark">Documentation</a>
      </div>
      <div class="info-bubble w-col w-col-4">
        <ngx-lottie-view path="./../../../assets/documents/manacademy_dark.json" class="info-lottie" data-default-duration="2.0166666666666666" data-duration="0" >
        </ngx-lottie-view>
        <h3 class="bubble-title">Become a Builder</h3>
        <a href="https://docs.xcash.foundation/" class="button-orange w-button change-font news-container-dark">Builder program</a>
      </div>

    </div>
    <div class="info-bubble w-col w-col-4 move-bubble">
      <ngx-lottie-view path="./../../../assets/documents/womanread_dark.json" class="info-lottie" data-default-duration="2.466666666666667" data-duration="0" >
      </ngx-lottie-view>
      <h3 class="bubble-title">Read The Latest News</h3>
      <a href="https://medium.com/x-cash" class="button-orange w-button change-font news-container-dark">Blog</a>
    </div>
  </div>
</div> -->
