<div id="xgreen" class="section full-height middle-centered black wf-section">
    <div class="w-container">
      <div class="technology-text-column w-col w-col-9">
        <h1 class="h1-section margin-ecox pos-eco">Eco-X</h1>
        <img class="margin-gc" src="/assets/images/xcash_GC.svg">
        <!--p class="h1-subtitles">(Green + Clean) + Blockchain = X-Cash</p>-->
        <p class="reduced-width">
          <strong class="orange">An Energy-Efficient Algorithm.<br/></strong>Unlike Proof-of-Work blockchains like Bitcoin or Ethereum, or POS blockchains which require wallets to remain open, X-Cash's Private DPOS requires significantly less
          energy making it the ideal platform for building eco-friendly blockchain applications.
          <br/>
          <br/><strong class="orange">Eco-Proof <br/>‍</strong>Our use of reserve proofs free devices from obligation to remain open in order to receive stake rewards, therefore giving the voted for delegate the task of distributing rewards:
          reward status can be verified by plugging into our delegate explorer API, or with a third-party integration.
          <br/>
          <br/><strong class="orange">Extremely low </strong>
          <br/>Through our internal monitoring, we concluded that X-Cash's blockchain uses the equivalent of < 4 Toasters using the following workings:

          <strong class="orange">[Show workings here]</strong>

          however, while we're confident that this estimate is accurate, we encourage you to dispute this claim and if a more accurate counter assessment is made (with
          demonstrable workings) then we will update the figures along with workings: and give you credit where it is due.
        </p>
        
        <!--table style="color:white">
          <th>X-Cash Delegates</th>
          <tbody>TEST2
            <tr>TEST3

            </tr>

          </tbody>
            <th>Online</th>
          <tbody>TEST2
            <tr>TEST3

            </tr>
          </tbody>
          <th>Producing</th>
          <tbody>TEST2
            <tr>TEST3

            </tr>
          </tbody>
        </table-->

      </div>
      <div class="round-animation-column w-col w-col-2">
        <img class="round-animation leaf-svg-enlarge" style="min-width:250px;min-height:250px;" src="/assets/images/circle_grid_leaf.svg">
      </div>
      <div class="horizontal-button-container">
        <a target="_blank" href="https://discord.gg/EXvTZTHUQ8" style="margin-left:0.7%" class="button-black inverse button-1 w-button eco-button">Show us how to improve on Discord</a>
      </div>
    </div>
  </div>

