<div id="xgreen" class="section full-height middle-centered black wf-section">
    <div class="w-container ecox-scale-and-positioning-for-small-screens">
      <div class="technology-text-column w-col w-col-9">
        <h1 class="h1-section margin-ecox pos-eco">Eco-X</h1>

          <span class="margin-gc orange"><br>The low-energy alternative to consumption hunger</span>
            <p class="reduced-width">
              <strong class="orange"><br>Like Night and Day<br/></strong>Unlike Proof-of-Work blockchains, or POS blockchains which require wallets to remain open, X-Cash's DPOPS Blockchain does not, therefore significantly reducing network-wide energy consumption making it ideal for building applications.<br/><br/>
              <strong class="orange">Eco-Proof <br/></strong>Our use of reserve proofs remove the need for devices to remain open to stake, therefore giving the voted-for delegate the task of distributing rewards: reward status can be verified by plugging into our delegate explorer API.<br/><br/>
              <strong class="orange">Our Claim </strong><br/>The X-Cash blockchain is estimated to use less energy than 4 Toasters. However, while we're confident that this estimate is appropriate, we encourage you to dispute this.

      </div>

      <div class="round-animation-column w-col w-col-2 lottie-move-scale">
        <!-- <img class="round-animation leaf-svg-enlarge" style="min-width:250px;min-height:250px;" src="/assets/images/circle_grid_leaf.svg" alt="Renewable"> -->
        <ngx-lottie-view path="./../../../assets/documents/xleaf.json"  data-default-duration="3.4833333333333334" data-duration="0" class="xleaf-lottie">
        </ngx-lottie-view>
      </div>

      <div class="horizontal-button-container eco-button">
        <a target="_blank" href="https://discord.gg/EXvTZTHUQ8" style="margin-left:0.7%" class="button-black inverse button-1 w-button ">Further improve with us on Discord</a>
      </div>
    </div>
  </div>
